[2019-12-17 23:22] corneliusweig commented on #437
Like so?

![krew-2](https://user-images.githubusercontent.com/22861411/71042582-6a110780-212c-11ea-92b4-70541911ae74.png)

I thought the tilt would look a bit like cuddling (similar to kubectl logo). But I'm no designer (^_^);;

[2019-12-19 13:12] eisraeli opened #440 ""kubectl krew search" too verbose"
For ex. :
`$ kubectl krew search kube`
______________________________
`E1219 15:03:34.989829   20429 scanner.go:57] failed to load file "capture", err: platform ({Head: URI:https://github.com/sysdiglabs/kubectl-capture/releases/download/v0.1.0/kubectl-capture.v0.1.0.tar.gz Sha256:86c947a9fa9acb73eeb179e29ede20755a426a4fb96aa82375246a356f3a804f Selector:&LabelSelector{MatchLabels:map[string]string{

[2019-12-19 13:18] eisraeli commented on #437
Just wondering, what does "krew" stands for ? Does it have any meaning relating to Kubernetes ?

[2019-12-19 16:11] corneliusweig commented on #437
@eisraeli The name was inspired by `brew`, but for kubernetes hence the 'k'. But I also like that it sounds like `crew`, which could stand for the k8s community. Quite fitting, given that `krew` is a tool for the community of plugin authors.

[2019-12-19 16:15] corneliusweig commented on #440
The manifest format has evolved a little. The file copy spec now has a default and is no longer required. As you are using an old version of krew, you are seeing a lot of errors. So could you upgrade and check again?

[2019-12-19 23:27] GraysonNull commented on #437
Hi all, I've been playing around with some ideas and landed on this one that I thought was kind of interesting. Wanted to get everyone's thoughts on it.
<img width="597" alt="Screen Shot 2019-12-19 at 5 24 57 PM" src="https://user-images.githubusercontent.com/4110866/71217861-d43cc000-2284-11ea-87a0-448239639275.png">

[2019-12-20 00:16] ahmetb commented on #437
That's a pretty good idea as well, thanks @GraysonNull. I wonder if it needs the Kubernetes logo.

[2019-12-20 15:37] GraysonNull commented on #437
@ahmetb Yeah I can for sure do a version without it. I was also thinking of a version where the crate was actually the heptagon shape. Are you thinking a cuttlefish should definitely be a part of the logo?

[2019-12-20 19:40] ahmetb commented on #437
I think we're open to anything now as long as it's not too complicated. Imagine it being used on repo homepage, a docs site, and printed on enamel (lapel) pins. :) That's why a mini Kubernetes logo in the middle doesn't make a lot of sense.

[2019-12-20 20:47] GraysonNull commented on #437
Yeah totally makes sense! Ok well I'll work on a few other ideas that are in a little different direction as well. The thread thus far was really leaning heavy into the cuttlefish angle and I wasn't sure if it was definitively heading that direction. I'll post some things here when I can. Availability is limited heading into the holiday season.

Thanks for the feedback!

[2019-12-20 21:53] #26 closed

[2019-12-20 23:18] corneliusweig commented on #437
@GraysonNull That's a really cool idea, I like it a lot! What would you think if the octopus would peek over one of the sides of the crate?

[2019-12-21 21:18] corneliusweig commented on #392
Hi @Aracki, if you can provide a fix this would be awesome! Otherwise it would make more sense to remove the fish instructions altogether, if they are buggy.

[2019-12-22 01:31] #419 closed

[2019-12-22 07:56] eisraeli commented on #437
@corneliusweig corneliusweig

I really like this explanation much better. :)

[As for the logo, maybe a parrot instead of Octopus ?](https://previews.123rf.com/images/sababa66/sababa661902/sababa66190200014/117370723-beautiful-parrot-in-a-pirate-hat-sitting-on-the-wheel-of-the-ship-vector.jpg)

(* I'm not the creator of the image)

[2019-12-22 10:31] Aracki commented on #392
Hi @corneliusweig thanks for reminding me of this one. I've made a #441.

[2019-12-22 20:46] ahmetb commented on #437
The question would be: why the parrot? :)

[2019-12-22 23:15] #301 closed

[2019-12-22 23:36] corneliusweig commented on #440
@eisraeli Have you had time to check with the latest krew version?

[2019-12-22 23:37] corneliusweig commented on #410
/good-first-issue
/help

[2019-12-23 08:30] Aracki commented on #392
Even the `./$KREWNAME` is read and the command outputs a lot of ENVs variables, it will throw the WARNING but will successfully install the krew.

If something is broken for you, remove the `~/.krew` and paste this command again.

[2019-12-23 08:30] #392 closed

[2019-12-23 10:03] eisraeli commented on #440
@corneliusweig I was indeed using an outdated version. Upgraded and the issue was solved. Thanks.

[2019-12-23 10:03] #440 closed

[2019-12-23 10:42] eisraeli commented on #437
@ahmetb An Octopus reminds me of a [Kraken](https://en.wikipedia.org/wiki/Kraken), which usually cause ships to sink.
Why parrot? I guess I've watched too many pirates movies, in which there are always a captain, crew and a [parrot](https://www.shutterstock.com/image-vector/illustration-cartoon-pirate-parrot-ships-wheel-1059270599).  :D

[2019-12-23 17:02] iboonox commented on #437
Some suggestions

![alt text](https://ibb.co/8rNNS6Z)

[2019-12-23 17:07] iboonox commented on #437
![GitHub Logo](https://i.ibb.co/Dwq1tZW/krew2.jpg)

[2019-12-23 21:18] chriskim06 commented on #383
I know that this is an older issue and some changes have been made, but I just wanted to clarify something.

It seems like the directory created by `os.MkdirAll(installDir, 0755)` is where the binary gets installed: `$KREW_ROOT/store/<plugin>/<version>`, then the call to `os.RemoveAll` will just remove the `.../<version>` directory. I think the `.../<plugin>` part of the  `installDir` needs to exi

[2019-12-23 21:41] corneliusweig commented on #437
Wow, these look awesome! It would be hard to improve that theme :)

My only worry is that the logo revolves mainly around the letter `K`, which is very non-unique in the kubernetes universe (think kustomize, kubernetes, kubectl, kube-ps1, kubectx, kubeval, kube-hunter, kube*). Your study shows that you were also experimenting with a box (and it's still in there), but I wish it were more visible in

[2019-12-24 21:52] ahmetb opened #443 "Show what's updated in "update" command (or its invocations indirectly)"
This is something Homebrew has, and I've been looking to have it in Krew, too.

When you run `krew update` (or indirectly, through `krew install` or `krew upgrade`), you'll see a message: `Updated the local copy of plugin index.` This message is nice, but it doesn't provide the big picture.

I think for `update` command specifically, it would be good if we can show something like:

[code]

Some th

[2019-12-25 20:33] ahmetb commented on #437
Thanks a lot for many options @iboonox, these are very valuable.

I like the brand design you did in https://github.com/kubernetes-sigs/krew/issues/437#issuecomment-568528688 comment. But like Cornelius, I see several issues:

- the color palette is nice, but it's also very similar to CNCF logo
- the logo almost looks and feels like Kubeflow
- doesn't have any reference to package management or ku

[2019-12-25 23:14] ahmetb commented on #414
Promising new library: https://github.com/rotisserie/eris not sure if compatible with go1.13 errors but seems to have the same capabilities and nearly identical interface.

[2019-12-26 12:50] iboonox commented on #437
Thank you @ahmetb and @corneliusweig for your feedback.

I agree that the blue color and the letter k are very common in the cloud native ecosystem. Personally I prefer simple and abstract logos but i think that the idea of ​​integrating a cuttlefish/tentacle is original.

I will try to make another ideas/proposals in this direction

[2019-12-26 19:22] ahmetb commented on #437
Yeah, I agree. I think we should lean into simplicity. Tentacles theme is definitely not required.

[2019-12-27 18:23] iboonox commented on #437
What about this ?

![alt text](https://i.ibb.co/WKF8PsN/Screenshot-2019-12-26-at-16-58-36.png)
![alt text](https://i.ibb.co/gjbfgB1/Screenshot-2019-12-26-at-17-03-15.png)

more sober

![alt text](https://i.ibb.co/sW2BXb7/Screenshot-2019-12-27-at-18-54-50.png)

[2019-12-27 18:53] ahmetb commented on #383
I am having trouble following, that's confusing. :)
Maybe make a small PR and see if it fixes the issue.

[2019-12-27 18:55] chriskim06 commented on #383
/assign

[2019-12-27 21:15] iboonox commented on #437
More sober

![alt text](https://i.ibb.co/sW2BXb7/Screenshot-2019-12-27-at-18-54-50.png)

[2019-12-28 11:52] #298 closed

[2019-12-28 15:33] caiobegotti commented on #437
I really liked these last two sober ones! Suggestions for eventual iterations:

- no text in the logo: simplicity
- dump the gradient blue background
- shape the two packages as heptagons with the Kubernetes blue instead
- make the cephalopod black instead of maybe cuttlefish-like in color with the packages in the Kubernetes blue
- tint the cephalopod with the very same blue of the Kubernetes logo

[2019-12-30 17:07] ahmetb commented on #437
So far I'm liking https://github.com/kubernetes-sigs/krew/issues/437#issuecomment-569321022 one. I have some tweak suggestions, like:

- move lively/[flat](https://flatuicolors.com/) colors, instead of cold/pastel ones
  - agreed with Caio, color palettes in initial logos are more alive
- what if we tilted body little bit more horizontal?
- what if we made tentacles wrap around the boxes and appea

[2019-12-30 17:21] #383 closed

[2019-12-30 17:25] ahmetb opened #448 "Ensure archive extraction directory is not used before"
Right now, the archive extraction directories are predictable:

[code]

This is not good, because if someone creates `/tmp/krew/krew-downloads/tree` ahead of time, and places files in it, then if the plugin manifest specifies installation as:

[code]

the file placed there earlier will end up in the plugin's installation directory. This is not clean.

Ideally, we should not do `filepath.Join(tempD

[2020-01-02 06:24] mhausenblas commented on #330
@ahmetb seems we already have an issue for it, great! As pointed out in https://github.com/kubernetes-sigs/krew-index/pull/407 I'm interested to make this happen.

I think that pretty much all Go-based plugins at least theoretically count as well? At least with GoReleaser it's pretty straightforward.

[2020-01-02 17:09] ahmetb commented on #330
Yeah sounds doable.
For starters, we can enable this in manifest validator, then maybe release krew also for arm64.
Do arm executables work on arm64, typically?

[2020-01-02 18:06] mhausenblas commented on #330
Cool!

In general, yes (there are exception, etc.)

[2020-01-02 18:51] ahmetb commented on #330
In that case, we might allow arm64 plugins, but not release krew itself for arm64, perhaps (since you reported krew compiled for `arm` works on `arm64`).

[2020-01-02 19:04] mhausenblas commented on #330
That sounds like an excellent plan, let's take small steps and see if we witness an uptake.

[2020-01-02 19:11] ahmetb commented on #330
I'm closing this since we already have a linux/arm distribution for krew.
/close

[2020-01-02 19:11] #330 closed

[2020-01-02 19:18] ahmetb opened #451 "Move away from Travis CI to GitHub Workflows"
/priority P3

Travis CI at this point seems to be a ticking time bomb. It would be better to migrate to GitHub Workflows. I don't see any particular downsides (we can test/run neither locally). Migration would be the only cost.

Advantages:
- no need to _allow_ an app to kubernetes-sigs org, GH Actions don't require permissions
- no need for encrypted secrets
- we can probably move to `goreleaser`

[2020-01-02 20:54] ferhatelmas commented on #451
Is there a reference to include here?

[2020-01-02 20:56] ferhatelmas commented on #256
Ping to close?

[2020-01-02 21:06] ahmetb commented on #451
No hard references, but anecdotal. Company changing hands, losing many employees, and GitHub has improved in the meanwhile. I suspect Travis will stick around ~2 years at least, so we can continue, but this is something we can address on the backlog.

[2020-01-02 21:17] ahmetb opened #454 "Plugins installed via --manifest are blocking upgrades (and others are re-downloaded every time)"
See output below.

There are two problems here:

1. The `snapshot` plugin is installed from `--manifest`, it's not in the krew-index yet, but for some reason, it's blocking the upgrade of other plugins.

1. If `upgrade` fails (after downloading some plugins), those plugin receipts are not written to FS (for some reason?), so if I re-run this command, all the available updates are being downloaded/

[2020-01-02 22:11] ahmetb commented on #256
/close
thanks!

[2020-01-02 22:11] #256 closed

[2020-01-02 22:19] ahmetb commented on #454
@ferhatelmas would you like to take this challenge on?

[2020-01-02 22:24] ferhatelmas commented on #454
@ahmetb sure, why not? Let me check.

[2020-01-03 13:06] RubenBaez commented on #451
@ahmetb This change will be applied in all projects or only in `Kubernetes-sigs / krew`

[2020-01-03 18:11] ahmetb commented on #451
Only this repo, and probably to `krew-index` repo.

If you want to prototype, you can fork and write .github/* workflow yamls by converting .travis.yml to those tasks.

[2020-01-03 18:33] RubenBaez commented on #451
/assign
Ok, I will help with this.

[2020-01-04 02:39] artmello commented on #443
Linked PR implements a prototype for this feature. Above some example outputs of it so suggestions can be made about how to improve it.

When nothing was changed on index
[code]

When system has following Name/Version information on index:
[code]
and receive following information after update:
[code]
With `fizz` plugin being already installed on the system
[code]
Both lists are sorted by Name (wit

[2020-01-05 21:17] RubenBaez commented on #451
@ahmetb
What about with secure env variables:

  global:
  -secure: .....

    secure: .....

Do I need those tokens in GitHub's actions? If so, how can I get the tokens to secure them in GitHub workflows?
Finally why `deploy` stage does not show in Travis logs?

[2020-01-05 21:20] ahmetb commented on #451
Hmm. I think one of the secrets is maybe for codecov.io which we can get rid of. Benefits haven’t been so great.

The other secret is for publishing releases to github, which GitHuh injects automatically https://help.github.com/en/actions/automating-your-workflow-with-github-actions/authenticating-with-the-github_token

If you look at “tag builds” on travis, you’ll see logs for deploy section, as

[2020-01-06 02:30] wu0407 opened #459 "how to krew work in hypekube kubectl"
use alias kubectl, show krew is installed,but run `kubectl krew install` failed.
[code]
use kubectl krew search show help info
[code]

[2020-01-06 02:53] wu0407 opened #460 "support generate bash completion"
`kubectl krew completion  bash`  generate bash completion file

[2020-01-06 03:10] ahmetb commented on #460
Kubectl plugins Mechanism currently don’t support bash completion. You can find the relevant issue on Kubernetes repo.

We don’t plan to implement this anytime soon either. The value add is minimal.

/close

[2020-01-06 03:10] #460 closed

[2020-01-06 03:12] ahmetb commented on #459
I don’t understand the issue here or what hyperkube is, but I also don’t think that has something to do with us.

I will close this. If you think I am mistaken please explain more clearly what the issue is and why it matters.
/close

[2020-01-06 03:12] #459 closed

[2020-01-06 06:16] wu0407 commented on #459
The hyperkube binary is an all in one binary (in a way similar to busybox), combining all the previously separate binaries.

[2020-01-06 06:19] ahmetb commented on #459
Does any other plugin work this way (through hyperkube)? Or is it just krew?

[2020-01-06 06:23] wu0407 commented on #459
hyperkube containt that component
[code]
I not try other plugin , but find it exec kubectl-kubectl-krew，so do this link krew to kubectl-kubectl-krew  it is work.
[code]

[2020-01-06 06:27] wu0407 commented on #459
https://stackoverflow.com/questions/33953254/what-is-hyperkube

[2020-01-06 20:15] JJJJJones commented on #356
@ahmetb i'll get started on a design doc

[2020-01-07 02:09] ahmetb commented on #459
@wu0407 sorry I don't understand what you mean here due to English problems. maybe someone can understand you.

I want you to run some other plugin (NOT krew) on hyperkube kubectl, and see if it works. I suspect it doesn't. Then you should open the issue to their repo, not krew.

If krew is the only plugin that doesn't work, we will reopen this. But I need clear communication from you. Maybe expla

[2020-01-08 01:58] zhanghuidinah opened #462 "Krew install fails on Linux"
[code]

[2020-01-08 02:41] ahmetb commented on #462
It seems like you already installed krew on the past? Nuke ~/.krew directory and try again that should solve.
/close

[2020-01-08 02:41] #462 closed

[2020-01-09 21:17] corneliusweig commented on #460
For reference: https://github.com/kubernetes/kubernetes/issues/74178

[2020-01-09 22:03] corneliusweig commented on #459
Just speculating: are you using an old version of `hyperkube`? The plugin system has been completely reworked in version 1.12.

Anyway, hyperkube seems to work differently today (I can only find a hyperkube docker image), and it looks like it is going to be deprecated (see https://kubernetes.io/docs/setup/release/notes/). I'd suggest to switch to standard tooling instead ;)

[2020-01-10 02:38] n3wscott commented on #437
I wonder if there is a boat rowing logo idea like https://t.co/KaR5BULfjk

It plays off of crew and team and boats, etc

[2020-01-10 08:06] corneliusweig commented on #437
That's also a nice idea. However, I wonder how much longer we should collect ideas before we close this thread and start selecting the favorite draft.

[2020-01-10 08:10] ahmetb commented on #437
I know @iboonox has more designs to share here so I vote for no need to rush.

[2020-01-10 08:10] ahmetb commented on #437
I know @iboonox has more designs to share here so I vote for no need to rush.

[2020-01-10 16:28] aimbot31 commented on #448
Hello @ahmetb would love to take this issue.
Thus, I have some remarks, why paths.DownloadPath() might be obsolete ? Can't we just change `func (p Paths) DownloadPath() ` to generate a random directory ?

[2020-01-10 20:42] ahmetb commented on #448
I think we should get rid of DownloadPath() overall, and just make a tempdir where necessary to ensure we get a clean dir.

[2020-01-10 20:52] ahmetb commented on #239
I think we're significantly solving this problem with https://github.com/rajatjindal/krew-release-bot. Plugin authors just need to install a GitHub action that pings an endpoint, which uses a bot account to make a PR on behalf of the plugin owner, with the plugin manifest template checked in to the repo.

[2020-01-12 15:10] shahga opened #463 "kubectl krew errors 'Not supported by windows' message"
At command prompt, kubectl krew ...any command... gives "not supported by windows" message.
The command prompt in administrative mode also gives same message.
e.g.

Environment:
kubectl client version = 1.14.8
krew version = 0.3.3
OS = Windows 10.0.17763

[2020-01-12 23:03] ahmetb commented on #463
Kubectl versions earlier than 1.15 had trouble executing any plugin. If you update to a higher version, I suspect this will be fixed.
/close

[2020-01-12 23:03] #463 closed

[2020-01-13 10:35] iboonox commented on #437
I think that the proposal with the whole cuttlefish looks more like an illustration difficult to integrate on different media ( print, stcikers ... ), agree with @ahmetb, the logo must be minimalist, easy to remember ...

So as suggested let's iterate on

![logo](https://user-images.githubusercontent.com/159209/71450215-2f056a00-2712-11ea-8a23-b3f7cc3392a2.png)

![logo](https://i.ibb.co/8N1V9Rt/1.

[2020-01-13 17:19] ahmetb commented on #437
These are really good @iboonox, thanks a lot. I'm converging on the simplistic design with a small unique/differentiating feature –like a tentacle.

I think mainly the problem with [this design](https://user-images.githubusercontent.com/159209/72276786-96159080-35e5-11ea-9def-d50e2393a151.png) is that I can't tell it's a package (it just seems to be a hexagon). What if we added some rectangles ins

[2020-01-14 00:34] ahmetb commented on #23
/lifecycle frozen

[2020-01-14 14:18] aimbot31 commented on #454
Hello @ahmetb would love to help if the 2nd issue isn't ongoing. However, i'm not sure to understand the problem here. Could you explain a little more or give an other example ?

[2020-01-14 14:32] ferhatelmas commented on #454
@aimbot31 I take care of it.

[2020-01-14 18:56] ahmetb commented on #454
let's add a "fixes #XXX" to the PR description next time.
/close

[2020-01-14 18:56] #454 closed

[2020-01-14 20:30] chriskim06 commented on #410
I'd like to work on this!

/assign

[2020-01-14 20:33] corneliusweig commented on #410
Great! If you have questions, you can also reach out on slack or post here.

[2020-01-15 18:05] #410 closed

[2020-01-16 22:20] robertvolkmann commented on #379
/assign

[2020-01-17 00:20] chriskim06 commented on #328
I can take care of this if its still needed

/assign

[2020-01-17 21:44] iboonox commented on #437
Highlighting the box :

![logo](https://i.ibb.co/7Wsqh0F/Screenshot-2020-01-16-at-22-24-27.png)

[2020-01-17 21:58] ahmetb commented on #437
I vote towards nr.3 above.

[2020-01-17 23:15] corneliusweig commented on #437
My favorite is nr.5! I like how the tentacles really look like it's grabbing the thing. Slightly lighter colors (like nr.3) could also look nice.

I guess indicating some sucker cups would make the logo too noisy, right?

[2020-01-18 10:31] iboonox commented on #437
@corneliusweig I think there are already a lot of details in the logo.

To move forward I suggest that we restrict the vote between ?

![logo](https://i.ibb.co/K9k5FYC/krew2.png)

[2020-01-18 11:37] corneliusweig commented on #437
@iboonox You clearly have a much better understanding of how logos work. So if you say sucker cups are too much, then I believe you :).

Has anyone had success with voting on a GH issue? I think it's easiest to post both versions separately and vote with :+1: on the posts. WDYT?

[2020-01-18 12:32] iboonox commented on #437
Version 1

![version1](https://i.ibb.co/yPSLx5y/version1.png)

[2020-01-18 12:33] iboonox commented on #437
Version 2
![version 2](https://i.ibb.co/PY6pTMF/version2.png)

[2020-01-19 14:21] yanivpaz1973 opened #469 "wsl support ( krew 0.3.3)"
I am using WSL with Ubuntu 18.04  :
``
kubectl krew
``
I am getting :
cannot allocate memory

(   set -x; cd "$(mktemp -d)" &&   curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/download/v0.3.3/krew.{tar.gz,yaml}" &&   tar zxvf krew.tar.gz &&   ./krew-"$(uname | tr '[:upper:]' '[:lower:]')_amd64" install     --manifest=krew.yaml --archive=krew.tar.gz; )

[2020-01-19 20:13] ahmetb commented on #469
Whats your kubectl version?

[2020-01-19 20:37] ahmetb commented on #469
Tried with kubectl v1.17 and krew 0.3.3. Not reproducible. Feel free to add more details then I can reopen.
/close
/area platform/windows

[2020-01-19 20:37] #469 closed

[2020-01-22 20:34] ahmetb commented on #437
According to voting results so far Version 1 is overwhelmingly liked more.
I'll work with @iboonox on getting several versions of this logo and sort out licensing and close this.

[2020-01-24 15:56] corneliusweig commented on #437
Apparently, I'm the only one with bad taste :rofl:

Thanks @iboonox for such creative work, this is awesome!

[2020-01-24 19:24] ahmetb opened #470 "Show detected os/arch in version"
For diagnostics purposes, it would be good if `krew version` shows os/arch information using our os/arch detection logic (e.g. KREW_OS, KREW_ARCH) as well as the runtime.{GOOS,GOARCH}.

This came up because I was using WSL (windows subsystem for linux) and I wasn't 100% sure if KREW_OS was detected as `linux` or `windows`.

/good-first-issue
/kind proposal

[2020-01-24 21:41] tony-yang commented on #470
/assign

[2020-01-25 21:03] #328 closed

[2020-01-26 17:43] #443 closed

[2020-01-27 06:35] ahmetb opened #472 "updated plugin list is should be wrapped more aggressively"
![image](https://user-images.githubusercontent.com/159209/73154310-d405c080-408b-11ea-8029-443d53caa9fe.png)

With the #457 in,  it now seems like on a 180 char terminal this is still pretty long.

We should probably wrap more aggressively.

[2020-01-27 06:38] ahmetb opened #473 "Show smaller output for updated plugin list"
cc: @artmello
With this new change we see this:

![image](https://user-images.githubusercontent.com/159209/73154467-26df7800-408c-11ea-82d0-9dee7f2e1f85.png)

I think we can dramatically update the viewing experience by doing these:

- show "Upgrades available" ONLY IF any of the listed plugins are installed.
- for "New plugins available" , user doesn't care about version number, so ideally we sho

[2020-01-27 06:41] ahmetb opened #474 "Add integration tests about printing new plugins/available upgrades"
Need some basic integration tests for the work in #457.

Mostly to handle corner cases like:

- first `update` doesn't print anything
- delete a plugin from index &rarr; `update` &rarr; detected as "new plugin"
- `install` plugin "foo" &rarr; git reset --hard to a commit that has older "foo" &rarr; `update` &rarr; detected as "upgrade available" in the output.
- +cases above, but invoked _also whe

[2020-01-27 06:54] ahmetb opened #475 "Try to get krew removed from homebrew"
It seems like Krew was added to Homebrew formulae list. and it's currently available to users. Without documenting it, I suspect most people won't install it via brew.

Sadly, Krew is designed to install and update itself, just like any other kubectl plugin. We don't wish to support installation via other package managers as krew is a package manager itself (and while Krew is cross-platform, other

[2020-01-27 07:01] #448 closed

[2020-01-27 07:58] ahmetb commented on #473
It seems like this is already the current behavior, apologies for misunderstanding.

[2020-01-27 08:41] glensc commented on #475
Created draft PR for removal: https://github.com/Homebrew/homebrew-core/pull/49428

holler there if it's decided removal is the way to proceed.

[2020-01-27 08:43] glensc commented on #475
@ahmetb PS: I'd prefer if you just ping me using @glensc handle rather send a private email. thanks.

[2020-01-27 14:16] artmello commented on #473
@ahmetb I agree about not showing version for new plugins. About indentation, I am afraid that the output can be too long with one plugin per line. If more people agree, maybe we can get back to the  idea of single line output for some commands and multiple lines for update. I pushed one PR with the suggested changes if we want to try it to see how it goes.

[2020-01-27 17:13] #473 closed

[2020-01-27 23:42] corneliusweig commented on #472
Duplicate of #473
Fixed in #477
/clode

[2020-01-27 23:43] corneliusweig commented on #472
/close

[2020-01-27 23:43] #472 closed

[2020-01-28 00:02] ahmetb commented on #475
Sorry about that I wasn't planning on creating an issue initially here.

[2020-01-28 02:13] ahmetb opened #480 "Proposal: occassionally show available upgrades for Krew"
With our current user experience, users can install krew once, then keep installing plugins every week, but it may never occur to them to upgrade krew to a newer version. This leaves a lot of users on older versions.

With the addition of #457 at least we now show upgrades available for installed plugins when an index update happens (e.g. directly through "krew update" or indirectly via "krew inst

[2020-01-28 09:20] soltysh commented on #437
:+1: for version 1 - it's simpler :wink:

[2020-01-28 12:19] corneliusweig commented on #480
I'm supportive of this.

My main reason is that people are used to keep their systems up to date. But if somebody is unaware of the fact that krew manages itselft, one might forget to update krew once in a while [1]. So this totally makes sense to me.
Also, I don't think that it will be too annoying, because the message won't show up if you upgrade krew to the latest version.

It's very tempting t

[2020-01-28 12:27] artmello commented on #480
+1 for this.

About the frequency, should instead of (or maybe together with) checking in a defined percentage, could we add a time frame to skip the checks? Something like, if the check was executed on last X days do not execute it again.

Also, what to do if we discover that there is a new version but the user did not upgrade Krew? Should we notify it again every time or will user have some way

[2020-01-28 20:08] ahmetb commented on #480
Yes "phoning home" will be a no-go for many people, but today Krew uses github anyway, so this is not anything new. Plus it will not send any more PII than the IP address (which it already does).

We should absolutely introduce a way to disable upgrade checks. Until we have a config file (which we'll most likely have as part of #23) we can introduce an environment variable opt-out.

[2020-01-28 20:19] ahmetb commented on #480
@artmello I tend to keep things simple, so we might choose to not even offer that option. We can reduce the % it will be checked, and people don't run krew 10 times a day (it's more like 2/month) so it's not a problem maybe.

[2020-01-28 22:16] corneliusweig commented on #480
Making the upgrade check smart by considering if it had run before would mean that we need some kind of persistence. That will make it more complicated, so let's not do that right now.

Anyway, I'm thinking why not perform the check _every_ time and not just every 40% or so. For one, this would make krew's behavior more consistent. And additionally,  it would ensure that infrequent users are more

[2020-01-29 05:42] ahmetb opened #481 "Experiment: Moving to goreleaser"
/assign

Trying to figure out if moving to goreleaser would result in net negative scripts to maintain. It might come at a cost of not having a `hack/make-binary.sh` that only builds the current GOOS/GOARCH (and always builds tarballs). But worth trying.

/kind proposal

[2020-01-29 19:13] ahmetb commented on #480
@corneliusweig the problem would be a journey such as "krew search" &rarr; "krew install" &rarr; "krew info" &rarr; "krew remove" would show the upgrade notification 4 times back-to-back (to the extent where it would _annoy_ users to ask for a "disable upgrade notification" feature).

Another option is to save a sentinel file somewhere (e.g. `$TEMPDIR/krew/last_update_checked`) so we check it eith

[2020-01-29 19:31] ahmetb commented on #475
So according to the discussion at https://github.com/Homebrew/homebrew-core/pull/49428:

- Homebrew distributes other package managers like NPM, Gradle, Snapcraft –so Krew is not an exception
- There's a sentiment (probably stems from the tradition that) as the upstream, we don't get to dictate how we're packaged and distributed.

For the short term, I recommend we take these actions:

- Make sure

[2020-01-29 21:09] ahmetb commented on #481
It seemed promising, but I have encountered several blockers along the way. I'll keep this comment up-to-date with blockers.

- [ ] It seems the "signature" files (which I use to create our .sha256 files) aren't being created https://github.com/goreleaser/goreleaser/issues/1319

- [ ] It does not seem possible to have [hooks](https://goreleaser.com/hooks/) for   events like pre-"archive", pre-"rel

[2020-01-29 21:12] ahmetb commented on #474
Closed in #479.

[2020-01-29 21:12] #474 closed

[2020-01-29 21:12] ahmetb commented on #239
I think this is pretty solved at this point with `krew-release-bot` linked above. Thanks @RajatJindal for his continued work and support in this area.
/close

[2020-01-29 21:12] #239 closed

[2020-01-29 22:00] corneliusweig commented on #481
Honestly, I don't see much value in pursuing this any time soon. You have shown quite a few disadvantages of goreleaser over our current build scripts.

Our scripts are quite stable and we can customize them when need be. I have some doubts this would be easily possible with goreleaser.

[2020-01-30 00:58] chriskim06 opened #483 "Proposal nr.2: Support for custom index repositories"
Allowing users to specify custom indices to download plugins from would allow people to distribute plugins without having to go through the main krew-index repo. This would be useful at companies where people want to share plugins that are specific to their workflows or aren't appropriate for krew-index.

I wanted to share the proposal doc I had thrown together here https://docs.google.com/documen

[2020-01-30 18:45] ahmetb commented on #483
Thanks for writing this up.
I'm calling this "proposal number two" for index repos, as you've said there are similarities.
I think both Cornelius and I should read both how Taps work and how your design works. It might take some time but hang in there.

[2020-01-30 19:54] ahmetb opened #485 "Print warning on every command if PATH does not have KREW_ROOT/bin"
## Scenario 1: Homebrew

This came up in the Homebrew formula (which we aren't supporting officially at the moment). https://github.com/Homebrew/homebrew-core/pull/49547

Homebrew maintainers refuse to have Caveats for `krew` formula that tells users to:

[code]

But it does link `kubectl-krew` in PATH. So, users will do `kubectl krew install foo` but `kubectl foo` mysteriously won't work (and `ku

[2020-01-30 20:11] corneliusweig commented on #485
What's the best way to detect if this is the first run?
One thing that comes to my mind is to move the `ensureDirs(paths.BasePath(), ..)` call from `init` into `preRun` below:
https://github.com/kubernetes-sigs/krew/blob/da2c84b78336ce481da87e7379a21ca82373ac78/cmd/krew/cmd/root.go#L79-L90

Then we could check with `os.Stat(paths.BasePath())` if the base directory already exists. If it's missing,

[2020-01-30 20:21] ahmetb commented on #485
I was thinking of something like looking at argv, but it seemed too complex (`--manifest=.*\.krew\.yaml` or `argv[n]==install argv[n+1]==krew`).

Maybe we can move `ensureDirs()` to `preRun()`, that way we can check if it's the first run or not.

[2020-01-30 20:22] ahmetb commented on #481
Opened some more issues on goreleaser side, updated my comment above.
I'll follow up this in the background as the situation progresses

[2020-02-02 20:23] ahmetb commented on #437
@iboonox was kind enough to provide different color schemes for the selected design and I ran a Twitter poll for them.

![0331B0A1-AE0E-4E5A-985E-BE003E4A4364](https://user-images.githubusercontent.com/159209/73614740-adc5b080-45b6-11ea-8f09-1276219706e6.jpeg)

It looks like we’ll go with the dark colors. Awaiting the PR for svg/png files at this point. Thanks all for participating.

[2020-02-02 22:21] #470 closed

[2020-02-04 14:17] deiga opened #492 "Feature suggestion: Guidelines for Krew plugins to be compatible with `kubectl` global options"
Would it be possible to devise some guidelines or rules for Krew plugins which have to be fulfilled to be accepted as a plugin?

A lot of the plugins don't support `kubectl` global options like `context` `cluster` etc.
These options are fairly important for actually connecting to a cluster and are vital for people who access multiple clusters regularly.

This suggestion stems from the frustration

[2020-02-04 17:42] ahmetb commented on #492
In the developer guide we mention you should use
 https://github.com/kubernetes/cli-runtime/tree/master/pkg/genericclioptions package.

For example, see `kubectl whoami` or `kubectl tree`. When you run `--help` on these plugins, you'll see plenty of options inherited from `kubectl options`.

[2020-02-04 17:43] ahmetb commented on #492
To your point we also don't want to enforce how plugins are implemented, though we "recommend" people to use this genericclioptions package as a general guidance.

We look at the general style of plugins to make sure they look and feel sort of like kubectl (at least not conflicting), while not limiting creativity and innovation.

[2020-02-04 22:24] corneliusweig commented on #364
Like other kubernetes project, krew uses standard GNU tools to run scripts. See https://github.com/kubernetes-sigs/krew/pull/482#issuecomment-579997341 to see how this can be set up

/close

[2020-02-04 22:24] #364 closed

[2020-02-04 22:50] corneliusweig commented on #492
I can understand your frustration. However, krew does no serious curation of the plugin index. There are two reasons for this:

1. There are no official guidelines. We tried to formulate some guidelines for plugins (https://github.com/kubernetes-sigs/krew-index/pull/152), but the document never proved its usefulness.

2. We don't have enough reviewers to look at every plugin in-depth. There are on

[2020-02-05 00:13] #485 closed

[2020-02-06 19:03] ahmetb commented on #451
This is done in #461.
/close

[2020-02-06 19:03] #451 closed

[2020-02-07 01:21] #480 closed

[2020-02-08 06:53] ahmetb commented on #340
This is mostly now resolved at https://stats.krew.dev which we're running on Data Studio as beta. We should probably document it once it's more mature.

[2020-02-08 14:15] iboonox commented on #437
PR created.
#499

[2020-02-08 17:46] joemiller commented on #405
How about distributing `krew` using native package managers (`dnf`, `apt`, etc) and/or homebrew for macos/linux? I'd love to be able to do `brew install krew`, for example.

[2020-02-08 19:19] ahmetb commented on #405
Please read #475. We don’t intend to allow other package managers just yet.

[2020-02-08 22:09] #437 closed

[2020-02-08 23:44] ahmetb commented on #483
/assign

[2020-02-10 05:14] ahmetb commented on #378
Not much we can do here, I am afraid.

We can maybe detect symlinking capabilities and warn. I am not sure if that’s the way to go.

[2020-02-10 17:50] ahmetb opened #501 "Upgrade notification can be misleading for devs"
If you locally compile and install a krew binary, you might misleadingly
see an upgrade notification like

    A newer version of krew is available (v0.3.3-47-g14f129f -> v0.3.3).
    Run "kubectl krew upgrade" to get the newest version!

This happens because our semver parsing (correctly) assumes any version str with
pre-release section (e.g. -47-g14f129f) is "older" than the string without
prere

[2020-02-11 23:07] corneliusweig commented on #483
@chriskim06 can you ping me on kubernetes slack?

[2020-02-12 20:11] ahmetb opened #502 "Upgrade failed; but receipt still written when symlinking fails"
/kind bug
/priority P3

Repro steps:

1. Install krew v0.3.3 normally
2. Build a Krew binary locally.
3. Replace ~/.krew/bin symlink of krew itself with the binary :D

     `mv out/bin/krew-darwin_amd64 $(which kubectl-krew)`

4. `kubectl krew update`  && `kubectl krew upgrade` to krew v0.3.4

5. Observe output:

[code]

6. `kubectl krew upgrade krew`  says **"can't upgrade, the newest version is

[2020-02-12 20:13] ahmetb commented on #371
/lifecycle frozen

[2020-02-12 20:25] corneliusweig commented on #502
Related to https://github.com/kubernetes-sigs/krew/pull/195#discussion_r296915679

Looks like install does it right, but in upgrade I messed it up :/

[2020-02-12 20:38] #502 closed

[2020-02-12 20:38] ahmetb commented on #502
I honestly don't know how we merged 4000 line PR back in the day.

[2020-02-12 23:25] ahmetb commented on #483
Ahead of our online meeting about this on Feb 18th, I've documented my wishlist of what I'd love to see from the solution + implementation process:

https://docs.google.com/document/d/1_xYsxtwtQTboKOyp920pb1OWLTQEdU6gF7-QvUA6S0Y/edit?usp=sharing

[2020-02-12 23:31] chriskim06 commented on #483
Sounds good I'll take a look through that doc and add comments if I have any questions

[2020-02-18 18:24] ahmetb commented on #131
I think we should document somewhere that only .exe extensions are allowed for windows and don't support the rest.

[2020-02-20 17:00] ahmetb commented on #483
Both @corneliusweig and @ahmetb (myself) have discussed the proposal with @chriskim06 and approved it.

/lgtm
/approve

[2020-02-20 17:01] ahmetb commented on #23
We are moving ahead with the concrete proposal at #483.

[2020-02-21 22:25] chriskim06 opened #507 "Add a new receipt type"
Plugin receipts currently use the `index.Plugin` type. In order to support the changes to support multiple indexes outlined in https://github.com/kubernetes-sigs/krew/issues/483, it was decided that the information for which index a plugin is installed from would be stored in the receipt. In order to support this, a new receipt type should be added. Here's a pretty simple proposed structure of wha

[2020-02-22 00:03] corneliusweig opened #508 "Cleanup: more consistent naming of inner `*testing.T`"
There are basically two patterns in krew:

1. Shadow the outer `t *testing.T`.

2. Use an inner `tt *testing.T`

Both variants have their pro's and con's:
Shadowing can be confusing because one might overlook that there is an inner variable that shadows the outer one. However, in the great majority of cases, only the inner `*testing.T` should be used for assertions, so this also prevents errors wh

[2020-02-22 00:18] corneliusweig commented on #507
We probably also want `omitempty`.

I think it's best to start with a minimal version for the Receipt type. So
[code]
should be enough for the initial migration.

---

After the migration is done, we can add fields as required. I think we should only add those fields that are necessary. At the moment we only have a use-case for `SourceIndex`, so what you suggest looks great.
However, we need to th

[2020-02-22 01:14] ahmetb opened #509 "Website Table of Contents proposal"
/kind proposal
/area docs

Before [docs/](/docs) go out of control, I'm hoping to create a website (taking the example of https://kind.sigs.k8s.io) hosted on Kubernetes org’s Netlify account.

Right now both user guide and the developer guide are lengthy. Hopefully, this will make things easier for users and plugin developers can navigate the docs much easier.

## Proposed ToC

* What is Krew?
* U

[2020-02-22 01:15] ahmetb commented on #508
Nr.2 for sure :P

[2020-02-22 01:16] ahmetb commented on #508
Also, honestly it doesn't matter a whole lot.
It seems like we almost never need the `t` in the outer scope.
This is also something sort of hard to enforce, we probably shouldn't be in the business of handling this.

[2020-02-22 12:19] corneliusweig commented on #508
So you suggest to simply ignore that we are using different patterns?

[2020-02-22 12:26] corneliusweig commented on #509
Go ahead, this looks great!

I'd also include a section about contributing to krew. I think it's good to have this in the krew repo too, but it should also be on this new page. Something like

* Krew contributor guid
  * How to get involved
  * Coding standards
  * Running tests

WDYT?

[2020-02-22 15:46] chriskim06 commented on #507
Agreed, that sounds like the best way to introduce the receipt type at first.

I don't really have a strong opinion on what `SourceIndex` should be. I think the index name will probably be easier to work with from a code perspective but I don't know off the top of my head how we would deal with a user adding a different index with the same name and having krew not try to update a plugin installed

[2020-02-22 17:43] ahmetb commented on #509
Yeah I am hoping over time we can publish those as well. Our contributing docs are looking quite official at the moment. We can loosen the tone a bit and write more.

[2020-02-22 17:46] ahmetb commented on #508
IMO this isn’t really a coding pattern. Simply a variable shadowing in different scopes. It currently seems harmless, and doesn’t lead to code duplication etc.

If it bothers you a lot, feel free to write some code to enforce it. Maybe there’s a pattern we can check.

[2020-02-22 18:04] ahmetb commented on #507
+1 design looks good. However it’s not extensible. I recommend this:

- status:
  - sourceIndex:
    - name:

If the name-based soln doesn’t work out long-term we can migrate much easier this way.

We’d probably need a ReceiptFromPlugin method to convert plugin to a receipt in a central place ideally.

[2020-02-22 19:04] chriskim06 commented on #507
Makes sense, I'll update the design.

[2020-02-23 23:04] ahmetb commented on #437
For future reference:
https://github.com/kubernetes-sigs/krew/blob/master/docs/KREW_LOGO.md

[2020-02-27 04:52] ahmetb opened #515 "Set up website hosting"
To run a website at `krew.sigs.k8s.io` we need some process set up. Looking for volunteers to help with some tasks.

We can follow the footsteps of kind.sigs.k8s.io for any of the following tasks.

- [x] Netlify site request from Kubernetes account (https://github.com/kubernetes/org/issues/1668):<br> https://kubernetes-sigs-krew.netlify.com
- [x] Get DNS records provisioned for the domain to point

[2020-02-27 10:07] corneliusweig commented on #515
@BenTheElder you probably know best how web hosting was set up for kind.sigs.k8s.io. Can you point us in the right direction?

[2020-02-27 18:22] ahmetb opened #516 "add details to Test_fetchLatestTag_GitHubAPI"
[code]

This test is very frequently failing on Travis CI.

I'm guessing because of GitHub API rate limits exposed to pool of Travis CI machines. Surprisingly works fine on GitHub Actions, however.

Maybe it'd be ideal if we add some message to the error so we can see what's going on.

[2020-02-27 19:42] corneliusweig commented on #516
Yes, this is on my todo list. I'll try to get to it later today.

[2020-02-27 20:55] ahmetb opened #519 "site: Show dynamic plugin list on a website page"
/kind proposal

End goal: Show a list of plugins on `krew-index` repository on the website (without having to update the `krew` repo `site/`, ideally the data comes from krew-index, on user's browser using JavaScript).

This would involve adding (in addition to `plugins.md` in krew-index), a JSONP file listing plugins that can be loaded from GitHub but through another domain (CORS) on the browser.

[2020-02-27 20:55] ahmetb commented on #509
Superseded by #514. Closing here.
/close

[2020-02-27 20:55] #509 closed

[2020-02-27 22:22] ahmetb commented on #515
Shame on me for thinking this is like a one-off thing that's rarely done.
But there's a clean process doc: https://github.com/kubernetes/community/blob/master/github-management/subproject-site-requests.md

[2020-02-27 23:05] BenTheElder commented on #515
:wave: sorry for the late reply, yes @mrbobbytables was very kind to write this up into a proper process doc, I can't believe I forgot this! thanks again :heart:

[2020-02-28 02:02] #516 closed

[2020-02-28 08:19] rajatjindal commented on #519
can we use some code from https://rajatjindal.com/krew for this?

Also do we want this to be a user-browser only feature? or its ok to have a cloudrun function for it?

[2020-02-28 08:37] ahmetb commented on #519
Static files with no extra hosting is preferable.

[2020-02-28 09:34] rajatjindal commented on #519
Ok, i will try to do a pure javascript based implementation poc (if thats ok with u)

(Cant commit timeline due to some personal engagements. So if someone gets it done before i could do poc, great, else i will let u know)

[2020-02-28 18:54] ahmetb commented on #519
Hey no prob, I think I'm trying to see if we can use cmd/generate-plugin-overview tool to create a .json file in JSONP format that we can load from another domain using `<script>` tag.

[2020-02-28 19:02] ahmetb opened #521 "Inconsistent program name in --help message"
See the end, it doesn't say `kubectl krew`

[code]

[2020-03-02 01:35] ahmetb commented on #519
Sadly, the JSONP approach I described will not work above, as GitHub serves raw content as always `text/plain` and browsers have a strict check for MIME type on `<script>` tag contents.

However, I was able to do this:

- create a JSON of plugin list, check in to github repo (sadly this easily adds up to 180 KiB)
- create a `/plugins/` page on website
- load JSON list from Github using XHR, parse

[2020-03-02 22:51] corneliusweig commented on #519
Another way than storing the json from krew-index could be to generate the plugin list each day with [`krew-index-tracker`](https://github.com/corneliusweig/krew-index-tracker). This tool could process the plugins from github and store the result in a bucket. Then we could follow your suggested jsonp approach.

---

In general, I think this feature is nice-to-have. But at the same time, it also do

[2020-03-02 23:16] ahmetb commented on #519
Honestly, I'm a bit torn on writing/maintaining bots or storing files elsewhere (like a bucket). If we can reduce external deps/repos, it would be the most ideal approach.

Another option could be [Netlify Functions](https://docs.netlify.com/functions/overview/) but that locks us into the Netlify + becomes yet another source of truth and code outside the repo tree.

[2020-03-03 20:18] corneliusweig commented on #519
Yeah, I'd also prefer to keep the number of dependencies low. At the same time, I'd prefer if we don't have to manually rebuild the `plugins.md` or json every time.

[2020-03-03 20:21] ahmetb commented on #519
We could write a validation and put the burden on the contributors to generate this file, but that would greatly confuse new contributors.

[2020-03-03 20:35] ahmetb opened #532 "logo: Add source files for Krew logo"
It would be great to get the src files added for the logo designs so that future contributors/designers can work on it.

/cc @iboonox

[2020-03-03 20:59] ahmetb opened #533 "logo: Crop logo assets to the content"
Right now, the logo assets have some spacing around them. This isn't quite useful and is often an additional step for anyone using the logos. (Website navbar is a good example.)

It would be good to re-export the assets by cropping to content.

/cc @iboonox
/priority P3

[2020-03-03 21:03] corneliusweig commented on #406
/lifecycle frozen

[2020-03-03 21:08] corneliusweig commented on #519
Yeah, I don't think it contributors should worry about this. We already have a tool which produces the correct output, we just need to find a way to integrate it in the CI.

Another option is to let `krew-release-bot` run the `plugins.md` generator and add that to the PR. This would reduce the burden of running the generator manually, because all bot PRs will do that for us. However, we would have

[2020-03-03 21:42] ahmetb commented on #519
Yeah it's too complicated. The fact that users iterate on shortDescription or name during the first PR will make it tougher. Since the bot also doesn't run the first time, it doesn't help new contributors.

I'd say let's keep the status quo and not introduce new complexity. We can live without tihs.

[2020-03-05 00:26] #507 closed

[2020-03-05 16:11] Parth6288 opened #535 "executable file not found in $PATH"
I installed krew following instructions on https://krew.sigs.k8s.io/docs/user-guide/setup/install/
however when i run

 i am getting below error:
`F0305 08:08:36.537792    6874 root.go:77] failed to update the local index: command execution failure, output="": exec: "git": executable file not found in $PATH`

[2020-03-05 18:35] ahmetb commented on #535
Ah, git is a dependency. We should note that.

[2020-03-05 20:12] ahmetb opened #536 "Proposal: cut git dependency"
Through a pure Go implementation like https://github.com/src-d/go-git
we should be able to phase out shelling to git and therefore having external
dependencies.

Of course git will always be beteter and we don't rely on a lot of detailed
or exotic features (the only interesting one that comes to mind is
"git reset --hard @{upstream}" usage we have).

I might try and prototype this.

/kind proposal

[2020-03-05 20:46] corneliusweig commented on #536
This would make it easier to use `krew` in minimal environments, such as an alpine container. I would still be careful here. Let's avoid to tie our hands in the future.

@ferhatelmas Do you have some experience with this library? I saw that you contributed to it.

[2020-03-05 20:51] corneliusweig commented on #535
@Parth6288 The git dependency is mentioned in step 1 for all environments. So you have to install git somehow on your system. For example, on Ubuntu you would do
[code]

[2020-03-05 21:17] corneliusweig commented on #332
To clarify, this issue is about the code duplication between the following shell functions:

[code]

/help-wanted
/remove-lifecycle stale

[2020-03-05 21:18] corneliusweig commented on #332
/help

[2020-03-05 21:29] ahmetb commented on #536
Worst case, the old implementation would still be there (possibly behind a feature flag), and our git.go does a decent job of serving as a wrapper.

[2020-03-05 21:37] ahmetb commented on #536
I think one of the main concerns would be supporting custom credential helpers (for custom indexes).

For example, at Google, `sso://user/ahmetb/foo.git`  is a valid git repository, authenticated via `git-credential-helper-sso` auth plugin that's in PATH. I'm not seeing support for that in go-git. https://godoc.org/gopkg.in/src-d/go-git.v4/plumbing/transport/client

[2020-03-05 22:08] corneliusweig commented on #536
Yes, I would prefer that. Maybe just fallback to the library, if no `git` is found in `PATH`? Then Google-magic would work out of the box without a flag.

[2020-03-06 09:46] aimbot31 commented on #521
Hi @ahmetb would love to help on this one !

[2020-03-06 13:47] aimbot31 commented on #521
After some researches i've found that we cannont change this behaviour.
However, we can use the `Aliases` field to print the fact that you can do `krew` and `kubectl krew`.
I've tried to use template but this seems a little bit overkill for the need.

Here is the result with the `Aliases` field :
[code]

[2020-03-06 18:30] ahmetb commented on #521
I think that makes the situation worse. Isn't there a Name field?

[2020-03-06 18:59] aimbot31 commented on #521
There's a field "Use" but if we enter a space in this field, it will only take the first name.
For example: `Use: "kubectl krew"` will give :

`Use "kubectl [command] --help" for more information about a command.`

[2020-03-06 19:00] ahmetb commented on #521
Hmm I suspect that might be a bug in cobra. (It would be good to follow up with them). Alternatively, we can consider nbsp character to prevent splitting

[2020-03-06 19:01] aimbot31 commented on #521
Do you want me to try something with nbsp and place an issue to cobra repository ?

[2020-03-06 19:05] ahmetb commented on #521
Let's ask cobra repo first since this is not urgent. Maybe they have a solution. I also recommend looking at cobra code to see where/why the splitting happens. Maybe there's a way to disble it.

[2020-03-06 19:07] ahmetb opened #538 "Add unit tests for internal/gitutil pkg"
This package is currently lacking tests. It should be fairly easy to implement some tests that reach 100% coverage in this package. This would also help #536.

/priority backlog
/help
/good-first-issue

[2020-03-09 04:01] ahmetb opened #541 "Plan for updating apiVersion in manifests"
So far, Krew has successfully maintained backwards compatibility for plugin
manifests. However, we at some point we'll need to move forward.

Currently our manifest validation code does a strict check of apiVersion
equality to a particular string (`krew.googlecontainertools.github.com/v1alpha2`).

Since eventually we will change this value, we must slowly start changing the
strict == check behavio

[2020-03-09 04:02] #535 closed

[2020-03-09 19:47] mrwulf opened #543 "Update kubectl autocomplete when installing plugins"
First, krew is awesome, much needed, and much appreciated!
Second, it would be nice if after I install a plugin it "magically" showed up when I tab-complete after `kubectl`. For example, I just installed `resource-capacity` (aka `kube-capacity`). Now, when I try to remember how to access the plugin I begin typing:
[code]
but no `resource-capacity`.

Supplying a few characters for the plugin name d

[2020-03-09 20:42] corneliusweig commented on #543
This came up before: https://github.com/kubernetes-sigs/krew/issues/155
It's not something that can be solved on krew's side, so I'm going to close this. But you can make some noise here: https://github.com/kubernetes/kubernetes/issues/74178

/close

[2020-03-09 20:42] #543 closed

[2020-03-10 23:34] brianpursley commented on #521
Has anyone asked cobra yet?

I worked up a little example that I think illustrates the problem from cobra's perspective:

[code]

**Default help for root command when running without a command:**
[code]

[code]

**Help for a specific command:**
[code]

[code]

[2020-03-11 01:05] ahmetb commented on #521
Don’t think anyone followed up in Hugo repo. If anyone has time to fix it in upstream, would be super appreciated. 💕

[2020-03-11 01:21] brianpursley commented on #521
I'll take a look at it and follow up in the cobra repo.

/assign

[2020-03-11 19:35] survivant opened #546 "Show if plugin is available on current platform in "krew search" output"
I'm on Windows and it could be great to have a flag to exclude plugin that are not supported in windows.

something that will return the same output as this

kubectl krew search | findstr -V windows
[code]

[2020-03-11 19:47] ahmetb commented on #546
+1. We used to (or considered to) have AVAILABLE field on this table.

[2020-03-11 20:18] corneliusweig commented on #521
Cobra people are very reluctant to merge anything. I would not count on them suddenly merging a PR. See https://github.com/spf13/cobra/issues/959.

[2020-03-11 20:28] corneliusweig commented on #546
This looks like a bug. We should be doing this already: https://github.com/kubernetes-sigs/krew/blob/e4b2528eec4df521d8823b4de92d221d6ac26e3d/cmd/krew/cmd/search.go#L84
/kind bug
/priority P1
/help

[2020-03-11 21:30] brianpursley commented on #521
@corneliusweig I noticed they have a lot of unmerged PRs, so I guess you're probably right.  I did open an [issue](https://github.com/spf13/cobra/issues/1057) and suggest a potential [PR](https://github.com/spf13/cobra/pull/1058) that would allow space to be preserved if it is escaped, but I won't get my hopes up.

In the meantime, I will revisit the krew code and see if there is a workaround.

[2020-03-11 21:58] corneliusweig commented on #521
Yeah, I fear we have to handle this on our side.

[2020-03-11 22:09] brianpursley commented on #521
Its ok I actually think I found a way that cobra lets us customize the usage template.... working on it now to try it out.  looks promising so far.

[2020-03-11 22:36] ahmetb commented on #521
I am hoping we don’t maintain a custom go template. But if we do, maybe we can simplify a few other things along the way.

[2020-03-11 22:37] ahmetb commented on #521
If the patch is trivial btw I might be able to get it merged. Just let me know.

[2020-03-11 22:40] brianpursley commented on #521
OK, let me know what you think.

It's a little bit hack-y but not TOO bad :smile:

https://github.com/kubernetes-sigs/krew/pull/547

[2020-03-12 21:57] ahmetb opened #550 "indexoperations methods should take environment.Paths"
While trying to refactor `indexoperations` in #549 and adding a `DeleteIndex` method I realized these methods should take `environment.Paths` value and use its method to construct paths to index dirs etc.

That's precisely why we created `Paths` and its methods: **To avoid spread and duplication of** FS layout of things and repetition of filepath.Joins all over the codebase. :)

/assign

I'll get

[2020-03-13 20:03] #521 closed

[2020-03-16 08:07] onesolpark commented on #546
If it might help, I've check in my windows server.

Seems like it's working as espected.
[code]

Well you can change how it sees the OS by changing/adding `KREW_OS` environment variable.

Try `kubectl krew search -v=2` and check if its printing out the OS/ARCH as you want it to.
And check KREW_OS variable to be sure.

[code]

[2020-03-16 17:52] ahmetb commented on #546
OH I get it now! Thanks @onesolpark.

You want a feature to "hide" the ones not available. That's why you did `| findstr -V windows` in the original post.

I think the decision we have right now is sorta ok.

We might consider some improvement to this, such as perhaps moving the unavailable ones to the end of the list, however right now we have an alphabetical sorting guarantee on the list, it wou

[2020-03-16 19:43] ahmetb commented on #536
Some more on go-git project health:
https://github.com/go-git/go-git/wiki/go-git-has-a-new-home!-v5-and-some-explanations

[2020-03-17 05:57] onesolpark commented on #546
@ahmetb
Do you think adding an option to show all plugins (i.e `kubectl krew search --show-all`)
and hiding the unsupported plugins as default sound like a viable solution?

[2020-03-17 05:59] ahmetb commented on #546
I don't think so. For many users this will severely limit their perception of what's available to them (in possibly another machine they own).

[2020-03-17 06:26] onesolpark commented on #546
got it i guess the best option for now is like you said to
move the unavailable ones to the bottom of the list :)

[2020-03-18 21:20] corneliusweig commented on #536
Ok.. so let's see if the project stays as active as before if the backing company doesn't exist anymore.

[2020-03-18 21:24] corneliusweig commented on #546
I think moving the plugins to the end is not the cleanest solution here. I think it makes sense to show everything by default, but we could add an `--hide-unavailable` flag enables the filter for the current OS. WDYT?

[2020-03-18 21:26] corneliusweig commented on #546
@onesolpark There is an ongoing effort to add custom indexes which will also touch the `krew list` machinery. Just watch out for a PR in that area, to avoid heavy merge conflicts.

[2020-03-19 14:05] onesolpark commented on #546
@corneliusweig got it i'll watch out for the multi-indexing PR to avoid merge conflicts

[2020-03-19 19:56] corneliusweig commented on #289
As far as I can tell, there is https://krew.sigs.k8s.io/docs/developer-guide/develop/best-practices/ and https://krew.sigs.k8s.io/docs/developer-guide/develop/naming-guide/ which  cover everything apart from

This section would also fit nicely into the "best practices" section.

[2020-03-19 19:57] corneliusweig commented on #289
/remove-lifecycle rotten

[2020-03-19 20:04] #550 closed

[2020-03-23 13:37] EtaySchur opened #557 "kubectl krew errors 'Not supported by windows' message"
I follow this issue https://github.com/kubernetes-sigs/krew/issues/463 , and although I have kubectl version 1.15.5 I'm still facing the same output "not supported by windows" ..
any ideas ?

Environment:
kubectl client version = 1.15.5
krew version = 0.3.4
OS = Windows 10.0.18362

[2020-03-23 16:27] ahmetb commented on #557
Try kubectl 1.16.x if you can. It seems like this issue wasn’t fixed until those versions. (According to issue 603 in kubectl repo.)

Closing since it’s not a krew issue.
/close

[2020-03-23 16:27] #557 closed

[2020-03-25 13:02] erain commented on #414
/unassign @erain

I am really sorry but I don't have the bandwidth for working on this now.

[2020-03-25 22:21] corneliusweig commented on #414
ping @robertvolkmann. You expressed some interest in this a while back, I think.

[2020-03-28 05:41] ahmetb opened #559 "Proposal: make `krew info` work with multiple indexes"
Since we had 1 index up until now, `krew index` had been fairly easy to implement. It did not distinguish between `Receipt`s or `Plugin`s (ref: `LoadManifestFromReceiptOrIndex`).

In other words, an "installed" plugin could only come from the Plugin manifest with the same name –as there were no other index.

So now, by allowing multiple indexes, `krew info` now has to understand if:

    krew info

[2020-03-28 06:18] ahmetb commented on #559
## Option 2

We change `krew info`'s behavior to only look at "available" plugins. It never looks at installed plugin receipts.

[code]

Advantages:

- easy to document for us, and easy to understand for users
- if we want to show if the plugin showed is_installed:true/false in "krew info" output, we can just query receipt by name and match the source index name.

Disadvantages:

- plugins install

[2020-03-28 12:55] corneliusweig commented on #559
I generally prefer option 2 over option 1, because it is more predictable and yields the same result regardless on which machine the command is executed on.

To make our user's lives easier, we can offer them some guidance when no manifest is found. For example, when looking for plugin `bar` from `my-index`:

[code]

---

Lastly, the inconvenience about not being able to show info about plugins in

[2020-03-28 17:51] ahmetb opened #561 "integration_test: RunOrFailOutput + RunOrFail is redundant"
I noticed that integration tests with `.RunOrFail()` actually fail not so useful error messages like `krew [index add]: exit error 255`.

Further exploration revealed that there's actually no value add of `.RunOrFail()`.

![image](https://user-images.githubusercontent.com/159209/77829857-efb83200-70e1-11ea-8cfa-50c21156cefd.png)

/good-first-issue
/help

[2020-03-28 18:03] ahmetb commented on #559
I think for those people, I'd much rather prefer if `krew info --manifest` exists. :) That way, we make `info` work on `Plugin` concept only.

[2020-03-28 18:10] ahmetb opened #562 "cleanup: Do not use path calculation in multi-index integration tests"
Right now the integration tests for TestKrewIndex** methods have:

	localIndex := test.TempDir().Path("index/" + constants.DefaultIndexName)

We should avoid guessing directory layouts in the test code, and in general.

`environment.Paths` type is supposed to calculate path segments.

It's advisable to move these to use:

    localIndex := environment.NewPaths(test.Root()).IndexPath(constants.Defa

[2020-03-28 22:00] corneliusweig commented on #559
Yeah, that's even better.

[2020-03-28 22:10] corneliusweig commented on #561
Isn't `Run()` used for situations where the `krew` command should actually fail? I think its behavior is required for our integration tests.

[2020-03-28 23:47] ahmetb opened #565 "integration_test: Create helpers to initialize tests with custom indexes"
Currently integration_test test cases for:

- `krew index`
- other krew cmds that test multi-index behavior

keep repeating the commands to create multiple indexes, such as:

[code]

Right now, this is achieved by doing `test = NewTest(t).WithIndex()` and aliasing the cloned `default` index directory into another index.

So perhaps we need to:

- modify: WithIndex() → WithDefaultIndex()
- add: Wit

[2020-03-29 01:05] chriskim06 opened #566 "Implement custom plugin indexes"
Here's a list of some of the remaining work regarding support for multiple indexes:
- [x] update `krew list` to work with multi-index (#560)
- [x] update `krew info` to work with multi-index (#563)
- [x] update `krew search` to work with multi-index (#574)
- [x] update `krew upgrade` to work with multi-index (#594)
- [x] update `krew update` to work with multi-index (#588)
- [x] ~~update `krew ins

[2020-03-29 18:12] ahmetb commented on #532
@iboonox if you have time, it would be great if you can take a stab at #533 and this.

[2020-03-29 18:25] ahmetb opened #571 "CI fails when commit hashes starting with 0 are merged"
So we just merged 0571889 and the build says:

[code]

It seems like

[code]

this is somehow a problem –which I never expected.

The error is coming from `semver.Parse` –and I'm not sure if https://semver.org dictates that stuff that comes after the `-` are supposed to be validated like this. If so, maybe we need to switch to `+` syntax.

It would be great if someone can take a look

/help
/good-

[2020-03-29 18:28] ahmetb commented on #571
from semver.org

So yeah maybe we just need to build untagged commits with `+` to indicate commit.

[2020-03-29 22:21] #559 closed

[2020-03-30 15:06] ericzhang08 commented on #571
/assign

[2020-03-30 15:08] ericzhang08 commented on #571
I'd like to do some contribution for this issue

[2020-03-30 21:18] ahmetb commented on #566
I'm scratching off these two for now as I see no work necessary there.

"install" already works (correct me if I'm wrong), and "remove" has no notion of indexes (as it does not need to).

[2020-03-31 01:48] ahmetb commented on #571
Sounds good!

[2020-03-31 05:12] ahmetb opened #576 "Proposal: trust model around custom plugin indexes"
Related: #483

Currently every plugin installed/upgraded from krew-index comes with a security warning:

[code]

The reason we added this is because users must understand that they are downloading potentially unvetted binaries.

With the fact that multiple indexes are now happening, this opens several possibilities to rethink this experience, given:

- adding a plugin index is an explicit operatio

[2020-03-31 13:17] naxhh commented on #538
Is okay if I assign this to me?

I'm still exploring the repo and looking how things are done around here but I think 'll be a good issue to start

[2020-03-31 17:12] ahmetb commented on #538
Thanks @naxhh I've assigned you.

This is prob most important: It should be able to clone public URLs as well as local git directories. Need to make sure destinationPath is mkdir'ed or not:
[code]

Ditto above. You can probably test this by `EnsureCloned` + `Exec(git reset hard --head~1)` + `EnsureUpdted` + `Exec` to see if update actually worked by looking at current hash.
[code]

I'm not quite s

[2020-03-31 19:52] chriskim06 commented on #566
There was a small change required for install that was taken care of [here](https://github.com/kubernetes-sigs/krew/pull/555/files#diff-545a923cbe516bf9f1a2ff693259e8a6R102). As for uninstall, that might still be pending. If we want to support `krew uninstall foo/plugin` that'll require a small change.

[2020-03-31 20:01] corneliusweig commented on #566
I think what @chriskim06 is referring to is that plugins installed via `--manifest` now set a `detached` index name. I don't think this is worth mentioning though, because it only affects plugin developers and the change is primarily cosmetic.

On the other hand, the uninstall question is still pending so let's not tick it off :)

[2020-03-31 20:07] chriskim06 commented on #566
Sorry I should have been more explicit (also when I click the link I added it doesn't take me to the line that I linked, I have to scroll up a bit for some reason), I was referring more to how a plugin is loaded when its being installed: `indexscanner.LoadPluginByName(paths.IndexPluginsPath(indexName), pluginName)`. We used to have `indexscanner.LoadPluginByName(paths.IndexPluginsPath(constants.De

[2020-03-31 20:21] corneliusweig commented on #576
A major consideration for me is that many users only run `krew` very occasionally. Those users will not benefit from a one-time warning, because it is easily forgotten. Thus, we'd just cover our back, as you said.

Since this is a security issue, I'd rather print that warning too often than too seldom. And our approach to show it after every install fulfils its purpose well. Frequent users know th

[2020-03-31 20:36] ahmetb commented on #576
IMO adding commands (e.g. `krew index trust`) that we can't remove later isn't that great either (I'm -1 on that for now). By adding commands for it, we're making it a concept users will find out and try to understand how to use.

We currently don't know how much the users/IT admins care about this. I'll try to go to #helm chat on Slack and ask around how/if security warnings are handled.

[2020-03-31 21:00] corneliusweig commented on #576
Well another idea is to make this fully manual like `echo my-index >> $HOME/.krew/trust`. This should be easy enough to do for sysadmins and we don't make an API contract. This way of adding trust is nothing we can communicate to normal users, for example as part of the security warning.
I don't share your concern about adding that command though. It's straightforward and we can even hide it via c

[2020-03-31 21:22] ahmetb commented on #576
I think I'm good with an implicit method (a file with trusted index list –OR– per-index sentinel file indicating trust –OR– an env var like KREW_TRUST_INDEXES)

OK, so it seems like we're leaning towards:

- show security warning for all indexes (even for user/admin-configured ones)
- provide an intentionally "less documented" escape hatch (tentatively)
- wait for someone to complain and then pick

[2020-03-31 21:36] corneliusweig commented on #576
😆

Yes, I fully agree!

@chriskim06 what's your take on this?

[2020-03-31 21:47] chriskim06 commented on #576
this sounds good to me. It also seems like the simplest path going forward.

I also agree with this. I feel like providing a way to "trust" plugins/indexes could wait until people complain about excessive warnings. But I also have less experience with this than you two so would defer to your judgment on it.

[2020-03-31 21:52] corneliusweig opened #579 "Krew uninstall behavior for multi-index"
With multi-index, plugins can come from different indexes. For example, we can have

* `foo/bar`, plugin `bar` from index `foo` and
* `baz/bar`, plugin `bar` from index `baz`

These two plugins cannot be installed at the same time, because the plugin name `bar` is the same in both cases, and krew does not allow to rename plugins during install. In fact, when installing plugin `bar`, it becomes (al

[2020-03-31 22:41] chriskim06 commented on #579
#### Option 1
I think this doesn't require any change which is nice, but I agree that it could be confusing that install and uninstall would be different.

#### Option 2
I'm not sure that this would be too difficult to do. The receipt gets loaded in the uninstall code to verify that the plugin being uninstalled has been installed. I feel like it wouldn't take too many changes to check the index of

[2020-04-01 02:46] ahmetb commented on #579
I'm currently leaning towards **Option 1**. The only shortcoming I see is the inconsistency between install vs uninstall –and I'm not too worried about it. Here's why:

- we can start less forgiving and be more forgiving in the future (if necessary)
  - however we can't start as forgiving then be more restrictive without breaking the experience
  - hybrid of 2&3 is _very_ forgiving, and actually i

[2020-04-01 02:47] ahmetb commented on #566
I'm editing the list above as we go. :)

[2020-04-01 04:54] ericzhang08 commented on #571
/lifecycle active

[2020-04-01 08:28] corneliusweig commented on #579
There's an important point here: _if_ we are going to support aliasing for installed plugins, like `krew install foo/bar --as boo`, users will be accustomed to using the plugin as `kubectl boo`. Consequently, one should expect that uninstall goes by `krew uninstall boo` and not `krew uninstall foo/bar`.

AFAICT, everybody wants to support the short syntax without the index name (`PLUGIN` instead o

[2020-04-01 16:20] jdolitsky opened #580 "Distribute plugins over OCI?"
Hello! Just curious if there has been any discussion regarding Krew plugin distribution over OCI?

It looks like the distribution mechanism relies on a new YAML format/type (krew.googlecontainertools.github.com/v1alpha2). I'm involved with the Helm project, and I've seen a simple repo index format after reaching some scale. While I'm sure the current setup works fine, it's defining yet another for

[2020-04-01 16:49] jdolitsky commented on #483
Late to the game here, but would like to point to #580 regarding alternative approach to distribution via OCI

[2020-04-01 16:52] jdolitsky commented on #483
The fact that this issue has come up is actually itself testament to "why use OCI" - all these concepts (multitenancy, distributed repos, auth) have already been solved for in the context of Docker push/pull which is the basis for OCI distribution-spec: https://github.com/opencontainers/distribution-spec

[2020-04-01 16:55] jdolitsky commented on #483
and yes, I realize this throws a big wrench into the existing plan and architecture, but I feel very strongly this is the correct way forward, especially for tooling in the k8s/container space. feel free to reach out to discuss more.

[2020-04-01 17:21] ahmetb commented on #483
@jdolitsky let's move the issue there as it doesn't concern this feature.

[2020-04-01 17:25] ahmetb commented on #580
@jdolitsky I'm currently not so positive as we are not having issues with the distribution format (zip/tarballs and a purpose-built simple yaml manifest).

We also have matured tooling on this model for developers such as release automation, and tools to test the manifests. I'm not sure if a change massive like that size can benefit us visibly at the cost of breaking things (given we have >80 plug

[2020-04-01 17:37] ahmetb commented on #579
Got it I'm sending a PR shortly.

[2020-04-01 18:14] ahmetb opened #581 "Some Krew commands susceptible to path manipulation"
This is low-risk security issue so I'm opening it here.

While using `KREW_ROOT=~/.krew2`, I can still manipulate stuff in `~/.krew/` through the CLI by hijacking `PLUGIN` arguments with relative paths:

[code]

This works even if `whoami` plugin is not installed in `~/.krew2` because we point to a valid receipt, which then gets deleted.

This happens because:
- `remove` command is not actually us

[2020-04-01 19:13] jdolitsky commented on #580
If I'm understanding correctly, the tooling would not be affected. I'm not sure what the release mechanism is doing, but imagine same UX, different API under the hood.

You can  check out the Helm docs on OCI integration here: https://helm.sh/docs/topics/registries/

Towards the bottom of that doc is the format on content. Essentially the chart package is stored as a single layer on the manifest.

[2020-04-01 19:16] corneliusweig commented on #581
Oh no :(

Well this is input validation, so we should do it as early as possible, which means it should go somewhere into  the `cmd` package. Maybe we can even make cobra check this for us?

[2020-04-01 19:18] jdolitsky commented on #580
As far as implementation on the code level, it's fairly easy to construct and push arbitrary layers using ORAS or containerd (which ORAS is built upon) https://github.com/deislabs/oras#oras-go-module-example

[2020-04-01 20:41] ahmetb commented on #581
I've thought about a cobra check but there are cases like reading plugin list from `stdin` so I think let's just do it where we parse plugin names.

[2020-04-01 22:45] trishankatdatadog commented on #580
Agreed with @jdolitsky! There are a few good reasons to target OCI as the distribution mechanism:

1. You get distribution for free with any OCI-compliant registry.
2. You also get security (content trust) for free with Notary v1 right now, and Notary v2 in the future.

[2020-04-02 13:43] naxhh commented on #538
Hi again @ahmetb I made two functions just to ensure this is the approach you where expecting:
https://github.com/naxhh/krew/blob/add-test-for-gitutil/internal/gitutil/git_test.go
If you can confirm that is the approach you wanted I'll finish the tests.

Regarding `gitutil.Exec` I've only see it being used in https://github.com/kubernetes-sigs/krew/blob/master/internal/index/indexoperations/index_

[2020-04-02 21:30] #359 closed

[2020-04-03 05:49] #571 closed

[2020-04-03 19:12] ahmetb opened #586 "Proposal: implement a manifest style validation tool for krew-index specifically"
Currently, [our plugin manifest validation functionality](https://github.com/kubernetes-sigs/krew/blob/51e44f6ce6d932840dabed81c46dbbb1d8a5de07/internal/index/validation/validate.go#L65-L173) which is in the YAML parsing path  has some style/cosmetic checks that have no effect on plugin installation. This is a result of not separating "cosmetic validation" and "functional validation".

If we conti

[2020-04-03 19:39] #561 closed

[2020-04-03 23:55] #366 closed

[2020-04-04 08:03] #274 closed

[2020-04-04 14:37] #581 closed

[2020-04-07 21:26] corneliusweig commented on #586
This is a sound plan. The only thing I'd add is that we strive to build our krew-index manifest validation tool in a way that it can be re-used by other projects. After all, everybody should be able to easily check what we think are good practices for plugin manifests.

[2020-04-07 21:35] ahmetb commented on #586
yeah. I think it would be reusable by public indexes out of the box. private indexes have different requirements (no LICENSE etc).

[2020-04-07 21:36] ahmetb commented on #586
tl;dr I'm thinking we should rename the existing tool to `krew_index_manifest_validator` and extend its capabilities to more cosmetics validation.

[2020-04-10 06:23] #378 closed

[2020-04-14 18:06] brianpursley commented on #519
Is there a way that krew can build its own static page with the latest plugin list?  No json or anything, just some auto-generated markdown based on the current krew-index plugins at that point in time.

And then the problem turns into:  How can krew be triggered to rebuild itself whenever krew-index master branch changes.

Is there a way in github where one repository can trigger a CI in another

[2020-04-14 18:44] ahmetb commented on #519
Hugo supports data files (which can be json yaml whatever), so we could run a script periodically to update the data file. However the site is in this repository –and plugins are in another.

So any syncing solution we build requires some level of over-engineering which we  aren't willing to commit building and maintaining at this time (the gains are minimal as far as I can tell).

[2020-04-22 22:19] #399 closed

[2020-04-26 14:46] jozefizso opened #596 "Sign krew.exe (This app might harm your device)"
As the **krew.exe** application is not signed with Authenticode certificate, it is reported as harmful application and it is not easy to download it and use it on Windows system.

<img width="311" alt="krew" src="https://user-images.githubusercontent.com/287778/80310950-72b1d280-87dd-11ea-9fdb-2c3eb50f0c47.png">

[2020-04-26 16:39] ahmetb commented on #596
Do you commonly download open source software from GitHub and observer they are signed properly?

[2020-04-26 16:46] jozefizso commented on #596
Yes, I do.

[2020-04-26 18:26] ahmetb commented on #596
Got it. Do you mind investigating if binaries like kubectl are signed? If so, how are they doing so? I am afraid I don’t know how we would create a secure enough build env to sign binaries and ensure their long-term maintenance. The logistics around this currently scares me a bit.

[2020-04-29 16:41] ahmetb commented on #475
/lifecycle frozen

[2020-04-29 18:04] ahmetb commented on #566
@chriskim06 I've checked off a few recently completed items above. Please take a look if we're up to date.

[2020-04-29 18:20] ahmetb commented on #596
@jozefizso Despite your report, it appears that `kubectl` also does not sign binaries. Without `kubectl` signed, there's no point of Krew trying to sign.

/close

[2020-04-29 18:20] #596 closed

[2020-04-29 18:21] ahmetb commented on #379
@robertvolkmann ping, or you can /unassign yourself if you are not working on this.

[2020-04-29 18:25] jozefizso commented on #596
🤦🏻‍♂️ thanks for pro-customer approach 🖕

[2020-04-29 18:44] chriskim06 commented on #579
@ahmetb @corneliusweig do you guys think this can be closed now? `krew uninstall foo` works now for `default/foo` and `custom/foo`, and the warning message was just added when a user tries `krew uninstall custom/foo`.

[2020-04-29 18:45] chriskim06 commented on #566
So I linked your most recent PR to this bullet:

Does that seem reasonable to check off since that was merged or did you have something else in mind?

[2020-04-29 21:18] robertvolkmann commented on #379
/unassign

[2020-04-29 21:24] ahmetb commented on #481
/close

[2020-04-29 21:24] #481 closed

[2020-04-30 00:44] chriskim06 commented on #562
Should we switch these to use `environment.Paths`/`Setenv` and `Unsetenv` now? There's the item in #566 to remove the multi-index flag feature where the `Setenv` and `Unsetenv` could be cleaned up in the tests along with the `os.Getenv(...)` calls in the code.

[2020-04-30 00:53] ahmetb commented on #562
Since it's tied to that this is probably one of the last items to do. But take it for a spin if you're sure we can churn through the list rather quickly.

[2020-04-30 01:12] chriskim06 commented on #565
/assign

[2020-04-30 01:29] ahmetb commented on #579
/close
thanks!

[2020-04-30 01:29] #579 closed

[2020-04-30 02:43] chriskim06 opened #597 "Update help messages to reflect custom index syntax"
Here are a list of commands that I think need to have their help messages updated:
- install

Here's a list of maybes since a warning is already printed when someone tries to use custom index syntax (but might be nice to include something in the help message as well):
- uninstall
- upgrade

The examples currently show something along the lines of `kubectl krew [command] PLUGIN`. Once the multi-ind

[2020-04-30 02:43] chriskim06 commented on #597
/area multi-index

[2020-05-03 00:35] Emold opened #599 "blumentals rapid php editor 2020 activation key needed"

[2020-05-03 01:18] #599 closed

[2020-05-03 02:02] #565 closed

[2020-05-06 15:56] chriskim06 opened #600 "Index directory layout migration"
Currently there is a `krew system index-upgrade` command to migrate users to the new directory structure needed to support multiple indexes. It's been mentioned before about potentially making this migration happen automatically.

Both options seem fine to me. The receipts migration used a subcommand to perform the migration but I also think it might be more user friendly to have the index migrati

[2020-05-06 16:07] ahmetb commented on #600
I'm currently indifferent. We haven't heard of many complaints about the explicit migration in the past, right @corneliusweig ? My main concern is people leaping forward 3 versions at a time (think: they don't have `indexmigration` yet).

So we need to probably manually test direct migration from 0.2 to latest to see if it's gracefully migrated (either explicitly or implicitly).

[2020-05-06 23:29] ahmetb commented on #515
/close

[2020-05-06 23:29] #515 closed

[2020-05-08 23:55] chriskim06 commented on #600
I noticed a bug when I tried the update from 0.2 to master. Here's what I did:
- downloaded 0.2 version
- installed a plugin
- built master and tried running `krew list`
- prompted to run `receipts-upgrade`
- ran `receipts-upgrade` and got prompted to run `index-upgrade`
- ran `index-upgrade` and got prompted to run `receipts-upgrade`
- neither migration happened (although receipts/ dir was create

[2020-05-09 03:06] chriskim06 commented on #600
Ok so the above happens because in root.go the index migration check happens after the receipts migration check in the preRun function. Once I got past that I noticed that the receipt migration failed because it calls `ensureIndexesUpdated` and that tries to list the indexes installed. The receipt migration code also uses `environment.Paths` and a lot of those will be assuming a migrated index onc

[2020-05-09 07:53] ahmetb commented on #600
Doing index migration first, then receipts migration can open a can of worms. If we can maintain the current order, that would be the best (if there's an easy solution). If not, we can consider ripping out the receipts migration for the upcoming 0.X version.

[2020-05-09 18:11] chriskim06 commented on #600
So in my first pass at this I tried changing some stuff around. The receipts migration uses `environment.Paths`/`oldenvironment.Paths`, and I had to switch some of the functions to use the old paths . I was able to get it working to a point where it gets the list of installed plugins and tries to reinstall them, but this happens through an `exec.Command("kubectl", "krew", "install", plugin)`. This

[2020-05-10 17:17] ahmetb commented on #600
At this point 0.2 was a long time ago.
We also promised to delete it 0.4 or 0.5. Now that these issues are arising 0.4 sounds like a good time :) @corneliusweig to decide.

[2020-05-10 20:44] corneliusweig commented on #600
There is another option. So far, we see the migration as a two-step process: `0.2->0.3->0.4`. However, if we ignore the `0.2->0.3` migration, we can write a single `{0.2,0.3}->0.4` migration and avoid the hassle of two different migration code paths. This would mean that users need to re-install all plugins as they had to do for `0.2->0.3`. It should be straightforward to extend the old migration

[2020-05-11 16:52] ahmetb commented on #600
Doesn't sound like a bad idea. Though, it  might be a little too burdensome to refactor. We already have a receiptsmigration package that uses old way of doing things, I'm not sure how these two would work together.

What if we detected receiptsmigration and told v0.2.x users:

[code]

instead of mechanically trying to migrate?

[2020-05-12 21:37] corneliusweig commented on #600
Yes, this is more or less what I tried to sketch with my bash snippet. This can work, but is not great UX. And the crucial point is to get 3) right. Because after 0.3 we use the receipts folder to list plugins, and if someone has a 0.2 KREW_HOME, this won't work for him. That's why I'm worried that this may be more complex than it sounds.

We could try out if we can get the unified 0.2|0.3->0.4 mi

[2020-05-13 18:09] chriskim06 commented on #600
So I took a quick pass at getting the unified 0.2|0.3->0.4 migration to work. I think the main issue boils down to needing to reinstall the plugins to generate receipts since the install path will assume a migrated index layout. I haven't had time since I last tried to make changes, but I have a feeling that it would get pretty messy trying to get that to work without performing the index migratio

[2020-05-18 14:25] webmutation commented on #378
Hello, I am on a win10 corporate laptop and do not have admin rights.

As a workaround to this symlink issue is it possible to use a different path where I have those rights?

As a workaround I tried to copy the file and rename it, but when I try to start it it returns the following

Please run `kubectl krew system receipts-upgrade`
F0518 16:17:06.817816   36196 root.go:77] krew home outdated

is

[2020-05-24 23:53] #414 closed

[2020-05-26 17:27] ahmetb opened #601 "Explore accommodating kubectl plugins requiring Mac notarization"
https://soluble-ai.github.io/kubetap/kubetap_development/caveats/#krew-plugin page talks about:

Opening this issue to track if there are any changes we can do to krew to accommodate this.

@eriner sorry about unsolicitedly pulling you in here. Do you mind explaining what do these notarization changes look like?

As far as I can tell `kubectl tap` is still a CLI plugin, and Krew doesn't rely on si

[2020-05-26 21:10] Eriner commented on #601
Mac executables must be notarized by Apple or you get a nasty warning and the only option is to trash the binary. This is a horrible experience that those installing from source do not have to deal with.

I **could** spend a whole bunch of time setting up goreleaser to use gon for notarization, but it feels like a whole bunch of extra work that I shouldn't need to do. And I mean that in the sense

[2020-05-26 21:14] Eriner commented on #601
I guess as a hack (and oh boy, it would be one), I could release a krew plugin that has a script that does the following pseudocode:
[code]

But AFAIK that's the only option that doesn't create a lot of work for me and make my releases dependent on Apple.

[2020-05-26 21:20] Eriner commented on #601
And if the "solution" described above is indeed a viable and recommended solution, then building from source should just be made a first-class citizen either through plugin definition extensions or examples in documentation, but I haven't given it much thought.

[2020-05-26 21:52] ahmetb commented on #601
Are you sure this happens for CLI tools executed from shells (kubectl plugins are like this).

If what you've said was true, no Go developer would be able to run the binaries they just compiled (that isn't notarized by Apple) on their macOS machine. But that's simply not the case.

For example `kubectl` itself is NOT notarized by Apple, yet it works fine. As far as I know `brew` formulas are not n

[2020-05-26 22:47] Eriner commented on #601
I refer you to the README of gon: https://github.com/mitchellh/gon

I just built the following executable on one laptop and airdroped it to another mac:
[code]

This produces the following error:
![notarize](https://user-images.githubusercontent.com/6919167/82957578-542c2c00-9f81-11ea-8039-e4b8b5df87bf.png)

[2020-05-26 23:13] Eriner commented on #601
According to a friend I asked (and my testing with the kubectl binary, which indeed isn't signed but executes just fine) apparently this is a push vs pull thing, and airdrop marks as untrusted as it can push files without user interaction. But files downloaded with `wget` or `curl` or whatever can be run from CLI without issue, even when no code signing is present.

[2020-05-26 23:16] Eriner commented on #601
Based on the above, I may be able to distribute without notarization or signing (and thus this ticket can be closed). I can't find any official documentation that states this, but I will do some experimentation.

[2020-05-26 23:43] Eriner commented on #601
It seems that in addition to airdrop marking a file/archive as unequivocally untrusted, files downloaded by packaged apps (Chrome.app, Firefox.app) also mark the file/archive as "untrusted". In this context, once "untrusted" the CLI exception no longer applies.

[2020-05-27 00:11] ahmetb commented on #601
Yeah. This is why you’re able to execute kubectl, or anything brew installs. Files downloaded via Chrome/Safari have certain xattrs set on them that causes macOS to detect this.

You should be able to package for krew just fine, let me know if I can help. Feel free to give it a try yourself as well, docs here: https://krew.sigs.k8s.io/docs/developer-guide/ Thanks for checking out.

/close

[2020-05-27 00:11] #601 closed

[2020-05-27 00:13] Eriner commented on #601
Further testing shows I was wrong and I should have no issue distributing with krew. My previous understand was a misconception. Thanks for the ticket @ahmetb, hopefully others who may also be under the same false assumption will find this ticket. Cheers!

[2020-05-28 15:37] chriskim06 commented on #600
@ahmetb @corneliusweig gently pinging. How do you guys want to proceed with this?

[2020-05-28 15:39] ahmetb commented on #600
I recommend we rip out receipts migration as part of this release. That way the indexmigration can be a log simpler and automatic I assume.

[2020-05-29 18:05] chriskim06 commented on #600
Ok, @corneliusweig if that sounds good to you, then I can open a PR to
- remove receiptsmigration (check in root.go, receipts-upgrade subcommand, and tests)
- make indexmigration automatic
- add integration tests

[2020-05-29 20:06] corneliusweig commented on #600
If that is so much simpler, then let's not complicate things and remove the old migration code. So yes, go ahead!

[2020-05-29 20:08] ahmetb commented on #600
Please make sure to create a separate PR for removing receiptsMigration. That’d be easier to  navigate.

[2020-06-01 13:05] ferhatelmas commented on #536
@ahmetb @corneliusweig sorry I was late. I take a stub on this.

Project is active but moved to https://github.com/go-git/go-git due to copyright.

/assign @ferhatelmas

[2020-06-01 13:09] ferhatelmas commented on #379
I believe this is still relevant and we don't want to close.

[2020-06-01 13:11] ferhatelmas opened #606 "Why don't we use go1.14 ?"

[2020-06-01 15:41] ahmetb commented on #606
Likely we haven’t gotten to it yet. No reason to make the switch or not make the switch in particular.

[2020-06-01 21:48] corneliusweig commented on #508
Go 1.14 has improved support for deferred cleanup routines in tests. This should also be handled, either here or elsewhere

[2020-06-01 22:52] ahmetb commented on #533
/lifecycle frozen
@iboonox Hello, if you can find time to give this a try sometime, really appreciate it. :)

[2020-06-01 22:54] ahmetb commented on #508
#606 suggests using go1.14 as well. It sounds like we just need to go do it.
/lifecycle frozen

[2020-06-04 22:08] #356 closed

[2020-06-07 15:07] corneliusweig commented on #379
/remove-lifecycle rotten
Yes, let's give this some more thought.

[2020-06-07 19:17] #533 closed

[2020-06-07 22:43] corneliusweig opened #610 "Consider UPX to reduce size of `krew` binaries"
UPX (https://github.com/upx/upx) is a packer for binaries that supports the Linux, Darwin, and Windows platforms (notably no ARM). For my own plugins I've seen a size reduction to ~30% of the original size, so give and take a 3x improvement. Given that k8s plugins are usually quite bulky, it would be nice to pack our own binaries with UPX.

We could even make it a recommendation for plugin authors

[2020-06-07 23:42] ahmetb commented on #610
Usually these sort of utilities stripping binaries are known to have problems with Go in the long term —and they’re hard to debug.

https://github.com/upx/upx/issues/222
https://github.com/upx/upx/issues/187

I am -1 currently since it will most likely break in the future at least for a subset of users and adds very little in return (plugin sizes aren’t a big deal for almost anyone).

[2020-06-08 08:52] ferhatelmas commented on #606
/assign @ferhatelmas

[2020-06-10 22:23] lelvisl opened #613 "always " TLS handshake timeout""
mac os 10.15.5
kubectl 1.18.3
krew 0.2.1 ->0.3.4

[code]

try to update krew
[code]

[code]

after this i removed `~/.krew` and installed again. but have same error - `TLS handshake timeout`

[2020-06-10 23:13] lelvisl commented on #613
why you think so?
i can download all files with curl.

[2020-06-10 23:24] ahmetb commented on #613
This is almost certainly an issue on your client side. I can imagine a number of things going wrong.

For example if you set http_proxy or https_proxy environment vars (or uppercase versions), krew will be impacted; and curl won’t (as Go processes pick these env vars up by default; curl doesn’t).

Hope this makes sense. Since others can install plugins fine this is very likely something on your si

[2020-06-10 23:51] lelvisl commented on #613
curl uses variables http_proxy & https_proxy.

![Снимок экрана 2020-06-11 в 2 48 48 AM](https://user-images.githubusercontent.com/9326764/84329703-15f05880-ab8e-11ea-9f1f-e31170cccd23.png)

![Снимок экрана 2020-06-11 в 2 51 01 AM](https://user-images.githubusercontent.com/9326764/84329812-6667b600-ab8e-11ea-8a53-62f80e6f2eb8.png)

[2020-06-11 04:14] ahmetb commented on #613
That’s good to know. 👍🏼 I was wrong about that. That said it’s still not explaining why this would happen only on your machine.

Is this 100% reproducible on installing any plugin?

[2020-06-11 09:13] lelvisl commented on #613
yes.

[2020-06-11 14:57] ahmetb commented on #613
/reopen
/priority P3

If you have cycles try debugging this please from the source. It doesn’t happen to me so I can’t debug.

[2020-06-16 01:52] ahmetb commented on #613
Have you managed to figure out why this might be happening.
We will most likely need your help diagnosing why it’s happening since it's not reproducible for seemingly anyone else.

[2020-06-19 22:38] #606 closed

[2020-06-21 17:30] chriskim06 opened #614 "Revisit commands to ensure they can cope with an unreachable index or malformed manifests"
Here are the various subcommands I thought needed testing and what I found in certain scenarios:

## index
- add index with no plugins dir
  - no error
- add index with malformed plugin yaml
  - no error
- remove index after deleting plugins dir
  - no error
- remove index with malformed plugin yaml
  - no error

## install
- install plugin from index with malformed yaml
[code]

## info
- info of

[2020-06-21 17:31] chriskim06 commented on #614
/area multi-index

[2020-06-22 01:35] chriskim06 opened #615 "Update security warning for custom indexes"
Right now a security warning is printed anytime a plugin is installed/upgrade. This should be changed in the case of custom indexes to:
- the warning should be printed when the index is added
- plugin install/upgrade should only print the warning if the plugin is from the default index

Related to: #576

/area multi-index

[2020-06-22 17:15] ahmetb commented on #615
I recall our discussion was to perhaps move the warning to the `index add` and do not print for non-`default` indexes. My memory doesn't serve me well what we decided here.

[2020-06-22 17:17] ahmetb commented on #614
Thanks for this research.
Something I was hoping to find out is imagine there are indexes `a`, `default`, `f`. If there’s an issue in `f`, how badly does that break `update`, `upgrade`, `install`, `search` commands _for other indexes_. (do they continue working or are they completely bricked due to a bad index)

[2020-06-22 17:19] ahmetb commented on #614
Some issues I noticed:

- `failed to load the list of plugins from the index: lstat [...]` this doesn't mention index name (solution: add a "%q" with name)

- `info:` what if apiVersion etc was correct BUT later in the doc there was a syntax error in yaml? I suspect that returns a better error?

[2020-06-22 17:25] chriskim06 commented on #615
Ah ok, I was probably misremembering. I can update this issue description to reflect that.

[2020-06-22 20:51] chriskim06 commented on #614
### no plugins dir
- update
  - works fine; all indexes get updated
- upgrade
  - plugin installed, then plugin dir gets deleted from index: other plugins upgrade fine
- install
  - works fine installing other plugins
- search
  - doesn't work

### malformed yaml
- update
  - works, but shows errors for when we try to list the available upgrades diff from [this function](https://github.com/kuberne

[2020-06-23 04:47] chriskim06 commented on #615
I was mainly adding this issue to keep track of the work for this, but if its ok to use the existing issue #576 then I'll close this and mention #576 in the PR.

[2020-06-26 18:35] rajatjindal opened #617 "using functions from internal package"
Hi @ahmetb

we are using `sigs.k8s.io/krew/pkg/index/indexscanner` package from krew, but it seems like it has been moved to internal now.

any thoughts on how could we use it in tools like `krew-release-bot`

Thanks

[2020-06-26 18:45] ahmetb commented on #617
Which method were you using? We can consider offering those.
But ideally how we scan plugins etc probably is an `internal` matter that we'd rather not support externally.

[2020-06-26 18:48] rajatjindal commented on #617
i am using

`indexscanner.ReadPluginFile(file)`
`indexscanner.ReadPluginFile(file)`
`indexscanner.DecodePluginFile(bytes.NewReader(spec))`
`validation.ValidatePlugin`

[2020-06-26 18:52] ahmetb commented on #617
I think out of those we'd probably just make the validation pkg public potentially (since it helps people validate their manifests). For the rest, our `pkg/types` is already public, so you can directly use that type to parse into.

[2020-06-26 18:56] rajatjindal commented on #617
yes, i believe exposing validation might be enough. the ReadPluginFile and DecodePluginFile are simple util functions to read/parse yaml file.

I can try to put up a PR for exposing validation pkg, if thats ok with you

[2020-06-27 04:43] chriskim06 commented on #614
@ahmetb @corneliusweig what do you guys think? How much of this falls under the unsupported behavior aspect of custom indexes?

If most of this seems good I can submit a PR to address:

and whatever else that needs to be addressed here.

[2020-06-27 23:07] corneliusweig commented on #532
I think the SVGs are already pretty good to work with. We don't want to bloat the repo with `psd` files anyway, right?

[2020-06-27 23:08] ahmetb commented on #532
I suppose you’re right.  I am not sure how we’d edit/modify them if needed though.

[2020-06-27 23:23] corneliusweig commented on #532
Inkskape is usually quite good at handling SVGs. I don't know how the experience is in Photoshop, but I hope it's somewhat reasonable.

SVG is a lossless vector format, so in the end, it's a problem of the editing software :woman_shrugging:

[2020-06-29 15:57] #615 closed

[2020-06-30 19:47] ahmetb commented on #483
/lifecycle frozen

[2020-06-30 19:48] ahmetb commented on #532
/close

[2020-06-30 19:48] #532 closed

[2020-06-30 19:49] ahmetb commented on #617
/cc @corneliusweig
thoughts?

@rajatjindal do you need to do the validation in the bot? we already do it in krew-index.

[2020-06-30 19:50] ahmetb commented on #613
I'll this as it doesn't seem anyone else but one machine is seeing this.
If you're willing to debug, I can reopen and help, but we don't have the bandwidth to investigate without having your machine.
/close

[2020-06-30 19:50] #613 closed

[2020-06-30 19:51] ahmetb commented on #610
I’ll close this since size isn't much of a problem for most people right now and UPX isn't an established tool. So I’d much rather keep it as a clean toolset.
/close

[2020-06-30 19:51] #610 closed

[2020-06-30 19:52] ahmetb commented on #340
I'll close this.
Plugin analytics can now be found at: https://krew.sigs.k8s.io/docs/developer-guide/plugin-stats/ which redirects to `stats.krew.dev`.
/close

[2020-06-30 19:52] #340 closed

[2020-06-30 19:56] ahmetb commented on #332
Honestly I'm not 100% sure this is worth pursuing unless someone has time. :)

[2020-06-30 19:57] ahmetb commented on #289
Kubectl plugin development best practices is now documented at:
https://krew.sigs.k8s.io/docs/developer-guide/develop/best-practices/
/close

[2020-06-30 19:58] #289 closed

[2020-06-30 20:45] rajatjindal commented on #617
We can defer the validations to krew but validations might still be useful for dryrun with krew release bot.

Also I think having those validations on krew release bot side mean we can fail the github action and provide feedback to user right there.

However that wont be possible if we do validation after PR is opened

[2020-06-30 22:59] ahmetb commented on #617
Yeah, that's valid. I'm hesitant of this because our exposed surface is very minimal right now, and most people who set up the bot already have a file checked in (e.g. already validated). By the time they see the error from the bot, it's already too late (their code was tagged).

So I recommend removing validations from krew-release-bot today, that way it can stay up-to-date with krew's validation

[2020-07-01 04:23] rajatjindal commented on #617
hmm, i still think krew-release-bot should have some validation on its side. I agree that git tag would be done, but the user can atleast get the feedback on his repository when action fails without need to go to krew-index PR for verifying.

Requesting you to reconsider your recommendation.

[2020-07-01 22:03] corneliusweig commented on #617
One thing that has come up a few times is that `release-bot` opens a PR, but the CI finds an error. Then it's up to the krew maintainers to close the PR, because the user cannot `/close`. The more of those can be caught early, the better I think. So that would speak for having the validation in `release-bot`.
However, our validation only does some basic syntax checks, and as @ahmetb said: most use

[2020-07-01 22:05] ahmetb commented on #617
That’s a good point. The bot has definitely sent PRs that fail validation. Our validator tool is much more comprehensive than the validation funcs here and there. I recommend using it too.

[2020-07-01 22:06] corneliusweig commented on #576
/lifecycle frozen
Let's come back to this when multi-index work is done.

[2020-07-06 11:19] tyrken opened #619 "`krew list` omits versions when called without a terminal"
I'm trying to automate installing some kubectl plugins, and hoped to use `kubectl krew list` to query what versions of some plugins I'd previously installed via krew.

Unfortunately you have a hard-coded check for a terminal and show different output when called without one, see https://github.com/kubernetes-sigs/krew/blob/bc5bea24b76529802a5725d5648fabaf496cd3e9/cmd/krew/cmd/list.go#L49-L65

Coul

[2020-07-06 15:23] ahmetb commented on #619
Yes, that’s by design.

If you want to parse the output, we have an open issue suggesting adding a structured output format (such as json) option for “list”.

[2020-07-06 18:06] ahmetb commented on #619
For posterity, the issue was #356, which was closed due to lack of interest.
If you can explain your use case a bit more (e.g. would json list work etc.) we can probably help.

[2020-07-06 21:50] tyrken commented on #619
Hmm - a bit disappointing that you made the OP work so hard with over 150 comments in the discussion for #354 and #365 before it seems they, quite reasonably, gave up.

Might I suggest your proposal was over-complicated, as what he both suggested originally at the end of #354 and I'd hoped to find when I looked up the source to make the link above, was something like the 4 lines of Go in list.go w

[2020-07-07 02:20] ahmetb commented on #619
The current output of “list” is designed to back up the list of installed plugins to a file. Similarly “install” accepts this format when you feed in like <FILE.

Admittedly the majority of the high number of comments happened because the person wasn’t familiar with the codebase. We can probably implement it in a simpler way if there is demand.

[2020-07-07 20:59] #405 closed

[2020-07-12 10:09] corneliusweig commented on #619
@tyrken What problem are you trying to solve that requires to have a list of plugins with their respective versions?

I'm asking, because `krew` does not support to install a specific version of a plugin. It is only possible to install the latest version in the index for any plugin, which has served pretty well so far. I'd like to understand what you need to get done, so that we can put that into

[2020-07-14 23:34] tyrken commented on #619
I'm running a system to distribute dev-tools to laptops, where we want to install a minimum version of a large number of tools & update them if we (later) decide to install an updated version.  Precise version that gets installed is probably not a problem but detecting the current version(s) installed is, for reporting and to choose whether to (re-)run krew or not.  Don't mind JSON/YAML/text-table

[2020-07-14 23:54] #614 closed

[2020-07-15 00:48] chriskim06 commented on #566
@ahmetb for this bullet:

did you mean something like the [verify-receipts-upgrade-migration.sh]( write integration tests (like receiptsmigration) to ensure index migration happens v0.3.4 -> x) step of the ci workflow or just like standard cmd line integration tests?

[2020-07-15 01:54] ahmetb commented on #566
Yeah similar to that script. We'd install old krew, install a couple of plugins, and then run the binary compiled as part of the build. Upon doing so, we verify (1) .krew/index/default/ exists (2) "krew index list" cmd works.

Don't spend too much effort, as these are temporary. (Btw if we removed receipsmigration, we should remove that test, too)

[2020-07-15 01:56] chriskim06 commented on #566
Sounds good. I'll try to get to that soon. And ya I removed that script and the step in the ci

[2020-07-15 18:49] ahmetb commented on #619
Technically you can read `$KREW_HOME/receipts/NAME.yaml`'s `spec.version` field to find the currently installed status. But since this has come up in #365 as well, I think it's a reasonable request to support the `list --format=[...]` option for these use cases.

[2020-07-20 09:22] laur89 opened #622 "[releases] provide platform-specific binaries instead of tarball"
Would you guys consider uploading separate platform-specific binaries on github [release page](https://github.com/kubernetes-sigs/krew/releases/latest) instead of the single tarball?

[2020-07-20 10:18] #622 closed

[2020-07-20 10:18] laur89 commented on #622
yaml is needed as well, so this request is pointless, closing.

[2020-07-21 18:40] 2rs2ts opened #623 "Can krew be installed in a system-wide way?"
At my company we have many machines that are shared by many users. It would be nice to be able to install krew just once but still let users have their own plugin directories. Is this possible?

[2020-07-21 18:47] ahmetb commented on #623
@2rs2ts Shared machines is definitely not a common use case but I think so.

All you need to do is place `kubectl-krew` binary to a PATH directory visible to all users (e.g. /usr/local/bin). However, you need to install updates to Krew yourself manually as well.

If you want to share plugins between users: You can set a $KREW_ROOT environment variable while installing krew, and keep setting that e

[2020-07-21 19:31] 2rs2ts commented on #623
@ahmetb how do I get that binary? Will it be in a predictable location inside the release tarball? Plus it looks like krew wants to bootstrap itself, so is it really as simple as just placing the binary somewhere?

[2020-07-21 19:47] ahmetb commented on #623
It currently is. We can't guarantee the location inside the tarball, but you'll find out there's only 1 binary in the tarball anyway. :)

Krew wants to bootstrap itself "if" you want Krew to be able to upgrade itself. But if you are OK with periodically (say, every 6 months) upgrading krew by changing your install scripts, then that's not needed. (In this install mode, `krew list` won't show `krew

[2020-07-22 18:55] corneliusweig commented on #617
@rajatjindal would the container-packaged validator tool work for you?

[2020-07-23 06:12] rajatjindal commented on #617
hey, sorry for the late response.

the container packaged validator will work for most of the cases. But if i remember correctly there are few users who uses krew-release-bot binary for the action.

so i guess i can use that. I will report back if i run into any issues with that.

Thanks for your patience and constant feedback

[2020-07-24 18:38] #597 closed

[2020-07-24 22:50] ahmetb opened #625 "Not friendly "upgrade" message for detached plugins"
After doing multi-index migration on my local index, I ran `kubectl krew upgrade`.

[code]

Specifically:

In this case, yes this plugin is indeed `detached`, but the error message says:

1. it's looking at a plugin named `detached/`
2. there should be a dir at `$HOME/.krew/index/detached/`

I forgot what the expected behavior should be while running `upgrade` on all plugins that include detached

[2020-07-24 22:59] chriskim06 commented on #625
I've been trying to look for a place where we might have discussed this before but I can't find anything. I feel like we decided to skip upgrade for detached plugins, but since I can't find that what do you guys think?

[2020-07-24 23:00] ahmetb commented on #625
We show these plugins in the list as `detached/PLUGIN_NAME`. so I'm not entirely certain why the plugin name parses into `"detached/"` in the first place.

The answer probably comes down to "do we wanna handle index name `detached` specially in `upgrade` cmd".

Is this string coming from leaving the source index field empty in the receipt? Or do we actually write this down into the receipt?

[2020-07-24 23:02] chriskim06 commented on #625
We write that as the index in the receipt when a plugin is installed via manifest https://github.com/kubernetes-sigs/krew/pull/568

[2020-07-26 11:15] corneliusweig commented on #617
@rajatjindal is running `krew-release-bot` directly (without being a GH action) something you endorse? Otherwise there's no need to restrict your options for the recommended setup.

[2020-07-26 11:23] corneliusweig commented on #622
@laur89 Can you explain why that would be better for you?

[2020-07-26 11:38] corneliusweig commented on #625
If I understand correctly, the problem is that after index migration, there are plugins which  should be considered `detached`, but have an empty index origin in their receipt, so that they are treated as `default`?

This sounds like we need to `os.Stat()` the index manifest, if we find a receipt with an empty source index to decide if it should be treated as detached or default.

---

I guess to

[2020-07-26 15:31] chriskim06 commented on #625
Ya so if a user installed a plugin with a manifest using 0.3.x then the index in the receipt will be empty and will be treated as default. That shouldn't really be an issue though I think since before 0.4.x the only index that existed was krew-index. From 0.4.x onward however, plugins that are installed with a manifest will be given the detached index.

I think it makes sense to skip detached plug

[2020-07-26 16:34] ahmetb commented on #622
YAML is already on the Releases page.

[2020-07-27 06:46] rajatjindal commented on #617
yeah i think it make sense. I'll add validator tool to the docker image and go from there.

thanks

[2020-07-27 06:46] #617 closed

[2020-07-27 10:23] laur89 commented on #622
One single binary would be better for me as i have a system maintenance/setup script that resolves the installables (be it binary, deb, or a tarball containing those) from any github repo releases page, and keeps track of the url; that way it can verify (by comparing the urls) whether the given version has already been downloaded/installed.

[2020-07-27 22:37] ahmetb commented on #625
I think this is not a release blocker (only impacts plugin developers).

If we detect index=="detached" and skip upgrading those (with a WARNING) would be good.

[2020-07-27 22:46] ahmetb commented on #562
@chriskim06 any ideas if this is addressed?

[2020-07-27 22:54] chriskim06 commented on #562
I haven''t started this yet, but should be able to get to it fairly soon.

[2020-07-27 22:55] chriskim06 commented on #625
ok that's good, I'll still try to get this and the other cleanup issue taken care of soon

[2020-07-28 02:49] #625 closed

[2020-07-28 02:55] #562 closed

[2020-08-05 00:20] chriskim06 opened #630 "First install of krew 0.4.0 sets it to the detached index"
Now that the multi-index changes are in, when a user follows [these](https://krew.sigs.k8s.io/docs/user-guide/setup/install/) instructions and runs:
[code]
the installation of krew will have the "detached" index in its receipt because it is [being installed via manifest](https://github.com/kubernetes-sigs/krew/pull/568). This will prevent them from receiving krew upgrades in the future.

/area mul

[2020-08-05 14:37] chriskim06 commented on #630
Here are a couple things I could think of:
- change the installation instructions to not install with a manifest
[code]
- add a new install flag that only works with `--manifest`/`--manifest-url` to set the index (defaults to "detached") and modify installation instructions with the new flag
- add special handling in install.go for `if name == constants.KrewPluginName` after reading the manifest t

[2020-08-06 07:25] #541 closed

[2020-08-12 18:37] ahmetb commented on #630
What if we got rid of the notion that there's a `detached`, and attached these plugins to `default`? Is this a bad idea?

Our pre-multiindex behavior was also that "upgrade" doesn't succeed if there are such plugins, and developers must remove them to get rid of those errors.

[2020-08-12 18:55] chriskim06 commented on #630
Ah ok I thought that upgrade would work for manifest plugins pre-multiindex. How did krew used to detect that a plugin was installed with a manifest before? I thought that was new with the modification to receipts.

If the behavior before was that upgrading manifest plugins failed then I think its fine to remove `detached`. One of the main reasons I thought we added that was to avoid people testin

[2020-08-12 18:59] ahmetb commented on #630
It didn't. :)  Try out for yourself if you want.

`detached`, if worked without hurdles, would be ideal, but it doesn't. I can't find a clean solution to this besides `if pluginName == "krew"` which is not good.

[2020-08-12 21:29] chriskim06 commented on #630
Hmm maybe I'm misunderstanding. I was thinking the workflow is:
- test installing plugin locally with a manifest/archive and leave it installed
- plugin author submits plugin to krew-index
- later on submits a new version
- then plugin author runs `krew upgrade`

I tried simulating these steps by picking a random krew-index plugin and installing an older version (I installed score 1.8.0 and its at

[2020-08-13 12:35] mbs-c opened #631 "Cannot install krew on Windows"
Installing krew 0.3.4 on my Windows machine fails consistently with the following error message:

[code]

I suspect that this issue may be caused by the anti-virus software installed on the corporate laptop, which I cannot disable.

I saw that you already created a fallback for renaming the directory in #375 to fix another edge case. Is there any reason why this fallback cannot be enabled uncondit

[2020-08-15 21:06] corneliusweig commented on #631
Can you please run with `-v=5` option and show the log output?

Also, please bear in mind that admin privileges are required to install plugins on Windows due to the use of symlinks (https://github.com/kubernetes-sigs/krew/pull/375#issuecomment-553784636).

[2020-08-15 21:10] corneliusweig commented on #586
/remove-lifecycle rotten

[2020-08-15 21:30] corneliusweig opened #632 "creationTimestamp is null in all receipts"
All my receipts have such a header:

[code]

including `creationTimestamp`. This field carries no information and is annoying. There are two options:

* Get rid of this obsolete field.
* Fill the field when installing the plugin.

Following https://kubernetes.io/docs/reference/using-api/api-concepts/#generated-values, it seems most inline with k8s concepts, if the stored timestamp is the time when

[2020-08-15 21:52] corneliusweig commented on #630
First of all, I find the `detached` index an important improvement over the current behavior. We should try to preserve that.

Of the suggested options, I think changing the installation instructions gives us the least headache. It works for the old and the new `krew` versions and does just the right thing. After the last index migration, _all_ index plugins install their receipts, including `krew

[2020-08-16 16:28] #546 closed

[2020-08-17 07:11] mbs-c commented on #631
Since I have developer mode enabled, it's not the admin privileges. I ran the following ad admin anyway, just to make sure:
[code]

[2020-08-17 16:27] ahmetb commented on #630
Yeah, I believe the only reason we used `krew install --manifest=krew.yaml --archive=krew.tar.gz` ever since the initial version was to prevent re-downloading.

My initial feeling is: let's apply that patch as it solves this problem

However, I feel like we're making a potentially offline installation process not-so-offline anymore. For example, you could previously download+install `krew` itself

[2020-08-17 17:37] chriskim06 commented on #630
This should still be ok though right?

Also, the docs should probably mention something about krew not being able to upgrade itself when the default index is changed though.

[2020-08-17 18:31] ahmetb commented on #632
Agreed, let's add `creationTimestamp:` to the receipts to reflect installation date/time.

[2020-08-19 07:50] IsuruDilhan commented on #557
Updating to kubectl 1.16.+ worked for me.

[2020-08-19 16:53] #630 closed

[2020-08-22 23:17] corneliusweig opened #637 "Allow overriding `DefaultIndexURI` from an env variable"
We want to give operators who do not want to install from the default krew index the possibility to provide their own release branch of `krew`. For that, we should allow overriding the `DefaultIndexURI` from an env variable, e.g. `KREW_DEFAULT_INDEX_URI`.
Then operators can start using their own index (containing some krew plugin) from scratch. This will then also set up the default index and poin

[2020-08-23 18:15] ahmetb commented on #637
I'm supportive. This likely only benefits people who never want to touch krew’s own default.

[2020-08-23 18:18] ahmetb commented on #630
I don't think we need to update the docs for this particular caveat of "detached" krew. We already changed Install docs to say "krew install krew", so I think we can go tag a release again right away.

[2020-08-24 14:37] schizoid90 opened #638 "unknown command "index" for "krew""
I've been following the documentation here https://krew.sigs.k8s.io/docs/user-guide/custom-indexes/ but get an error when trying to add a custom index

[code]
I'm on the latest version (as per github releases).

[code]

Is this a case of the documentation being ahead of the releases?

[2020-08-24 14:43] chriskim06 commented on #637
Is this something we need before 0.4.0?

[2020-08-24 16:00] ahmetb commented on #637
No, I think it can be done later.

[2020-08-24 18:18] ahmetb commented on #638
Sorry, yeah, we made a v0.4.0 release but had to roll back due to a critical bug we discovered in the last minute. We'll make a new release todya.

[2020-08-24 20:13] ahmetb commented on #638
Should be resolved now, try `kubectl krew upgrade krew`.
/close

[2020-08-24 20:13] #638 closed

[2020-08-24 22:48] ahmetb commented on #566
/close
N I C E

[2020-08-24 22:48] #566 closed

[2020-08-28 07:06] Dentrax opened #639 "Consider add Go Vet tool in the CI"
Since we already use _golangci-lint_ static analysis in the _run-lint.sh_ file, adding the yet another static analysis tool _(a.k.a go vet)_ would still makes sense. In order to detect suspicious constructs (too see _registered analyzers_: `go tool vet help`), we should use that official tool. (We are still covering some cases, by using [.golangci.yaml](https://github.com/kubernetes-sigs/krew/blob

[2020-08-28 07:08] ahmetb commented on #639
I believe go vet is already run as part of that. Do you see any output from go vet?

[2020-08-28 07:15] Dentrax commented on #639
As far as i know, go vet is not part of golangci. But it covers some of cases. I just opened a PR about this, btw. 🙃

[2020-08-28 18:06] chriskim06 commented on #483
Should we close this one too?

[2020-08-28 18:09] ahmetb commented on #483
👍🏼
/close

[2020-08-28 18:09] #483 closed

[2020-08-28 22:01] corneliusweig opened #641 "Check for presence of license file in CI"
Currently, checking for license file in submissions is a manual process. Especially, if manifests use a wildcard to copy out all files, we need to download the tarball, and check if a license file is there.
However, new versions could silently remove the license file and we would not notice.

---

Almost all plugins now have a license file, or claimed to include one in the next version. I think we

[2020-08-29 00:34] chriskim06 commented on #639
It seems like it is part of golangci-lint https://golangci-lint.run/usage/linters/, but I think would have to be added to this list https://github.com/kubernetes-sigs/krew/blob/master/.golangci.yml#L40

[2020-08-29 00:39] chriskim06 commented on #637
Been busy this week, but I'll try to take a crack at this this weekend. I have a feeling integration testing might be interesting but I haven't taken a close look yet.

[2020-08-29 12:50] corneliusweig commented on #566
Great work @chriskim06! Thanks for pushing `krew` forward. 🍾

[2020-08-29 21:36] #332 closed

[2020-08-30 00:39] #580 closed

[2020-08-30 15:54] #538 closed

[2020-08-30 22:02] #641 closed

[2020-09-06 18:55] corneliusweig opened #643 "The future of symlinks in `krew`s installation procedure"
Krew tries hard to not break an existing plugin installation, if something during install goes awry. To that end, krew uses symlinks to create a pointer from `$KREW_HOME/bin/kubectl-<plugin_name>` into the fully prepared plugin folder `$KREW_HOME/store/<plugin_name>/v1.0/my-exe`. This can happen very late in the installation procedure and is pretty much atomic. The only thing that could fail there

[2020-09-06 19:07] corneliusweig opened #644 "Automate dependency upgrades with dependabot"
Dependabot could automatically create PRs if some of our dependencies change. It doesn't work great with all dependencies, but it could at least alert us about new versions.
Some kubernetes subprojects seem to already use dependabot (some discussion: https://github.com/kubernetes/org/issues/945).

So WDYT? Should we try it out?

[2020-09-09 17:58] ahmetb commented on #643
/lifecycle frozen
/area platform/windows

This needs input from Windows users.

We fail krew's installation on Windows early on with a message indicating elevated access. From my experience, most of the time, you want to be on a privileged shell (cmd or PS) to get things done, so it's expected.

If it's been blocking users (we don't know that) we should probably think of a solution. Otherwise, hav

[2020-09-09 18:08] ahmetb commented on #644
It definitely makes a lot more sense on an org like kubernetes-clients where language-specific repos are maintained. I'm not sure if it helps a lot for our case. Our dependency list is pretty minimal, so it might become more of a hassle/noise than helpful, since our dependencies probably update way more frequently than we ship (e.g. once or twice a year).

[2020-09-10 14:54] blorette commented on #631
Running into similar issue. Suspect same.

For the work around I grabbed the files from:
    https://github.com/kubernetes-sigs/krew/releases/download/v0.4.0/krew.tar.gz

- Extracted both the License and krew-windows_amd64.exe.
- Renamed krew-windows_amd64.exe to krew.exe.
- Placed both into USERHOME\.krew\store\krew\v0.4.0\

I then ran:
`krew install krew `

And it worked.

`
C:\bin>kubectl krew

[2020-09-10 18:17] ahmetb commented on #631
We have other windows users reporting it works on their machines with PowerShell running as  Administrator. Could there be something controlling fs access such as an antivirus software or corporate machine policy?

[2020-09-10 18:19] blorette commented on #631
It could be, But what is odd, The ingress-nginx gave me the same problem as krew. But change-ns installed without issue.

[2020-09-10 18:44] ahmetb commented on #631
I need a better answer than "could be". :) If there's an AV program on your system, it's not worth trying to understand why it silently blocks or deletes certain binaries.

[2020-09-11 06:42] mbs-c commented on #631
Regarding my original issue, I'm pretty sure it has to do with file locking, which is much more reasonable than randomly deleting binaries. :)

Well, that's not entirely true, since the workaround is already implemented, just not used. FYI, `rustup` implemented similar workarounds for the same AV software: https://github.com/rust-lang/rustup/issues/1912 Unfortunately, this particular (and admitted

[2020-09-11 07:04] ahmetb commented on #631
Thanks for pointing it out. It seems the same issue as this one https://github.com/golang/go/issues/36568.
Ideally we'd expect this can be handled at a lower level such as the stdlib, but we might reuse a fix (perhaps in a higher level library that offers retries etc).

[2020-09-11 10:56] blorette commented on #631
I meant to point this out. The issue doesnt occur with some of the plug-ins.

I wasn't able to do krew, or the ingress-nginx. But change-ns went in with no complaint. I am not sure how they handle their respective "installs" different. I haven't had a chance to look.

[2020-09-11 16:52] ahmetb commented on #631
I think an interesting test would be attempting to install every single plugin available (you can put them all in the same krew install command). Then running `krew list > out1.txt`, nuking everything (delete $HOME\.krew) and re-do operation and save `krew list > out2.txt` and compare the two files.
Since AV is racing with our fs operations, I suspect the lists won't be identical (hence the fixes

[2020-09-11 20:40] #519 closed

[2020-09-14 21:45] jetersen opened #645 "created automatic chocolatey for krew 👏🏼"
Hopefully other users on windows will find it helpful to write `choco install krew` once the package is available :)
https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1537

[2020-09-17 09:13] herrywen-nanj opened #646 "no pods for deployment ingress-nginx-controller found in namespace ingress-nginx"
I have installed Krew, but I can't use it. I have used deployment, but it doesn't work properly?My kubectl version is v18.6，The following is detail info
kubectl version:
![image](https://user-images.githubusercontent.com/33476935/93450689-d661a700-f908-11ea-991c-c644efcb7f80.png)

Error information:
![image](https://user-images.githubusercontent.com/33476935/93450795-f729fc80-f908-11ea-9bee-f35309

[2020-09-17 10:01] winguse opened #647 "Failed to download plugin"
version: 0.4.0
OS: Amazon Linux AMI release 2018.03

I try to install plugin `ns`, and I find the following error:

[code]

The target url `https://github.com/ahmetb/kubectx/archive/v0.9.1.tar.gz` is not `8326 bytes`, so obviously something went wrong.

I walk around by download the file and modify the index under `~/.krew/index/default/plugins/ns.yaml`, updating the URL to my local HTTP server ru

[2020-09-17 18:54] ahmetb commented on #646
You're using ingress-nginx plugin, which is a different project. You should ask in their repo.

[2020-09-19 13:03] corneliusweig commented on #644
One of my goals is to make us aware of available updates. But you have a good point that it will create a disproportionate amount of noise, given our infrequent releases.

So what about that: we add an item to our release procedure that reminds us about bumping versions. That way we don't have the noise and still get reminded of that chore when it becomes relevant.

[2020-09-19 13:20] corneliusweig commented on #645
We would prefer to keep control over the krew versions that get distributed, and thus prefer to install krew via krew. While installation via the users preferred package manager may look good for the initial install, it has disadvantages:

- first, it forces the krew maintainers to maintain multiple package managers that we cannot test and verify, and are not familiar with.
- second, the whole poi

[2020-09-19 13:23] jetersen commented on #645
This is just doing the initial install of adding krew cli on path and putting %USERPROFILE%\.krew\bin on path.

https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1537/files#diff-e088eb425b882eb52a4f2d9aa3ce7d55R7-R8

Makes `krew install krew` simpler 😉

[2020-09-19 13:37] jetersen commented on #645
I don't see that point. No one asked you to maintain the chocolatey package. I choose to maintain, test and verify it.
I made this chocolatey package use the automatic updating when you release a new version GitHub so maintenance should be minimal.

They will still have to run `krew install krew` the way the chocolatey package is setup.

The steps the chocolatey package does do for you is provide

[2020-09-20 11:30] corneliusweig commented on #645
I see, thanks for explaining that. I have no experience with chocolatey and pretty much don't know how it works and what are its capabilities.

If I understand correctly, the choco package will install the latest `krew` in some chocolatey bin dir and adds a choco-managed entry `$HOME/.krew/bin` to windows PATH. You then recommend to run `krew install krew` to install krew into krew's plugin direct

[2020-09-20 11:45] corneliusweig commented on #646
/close

[2020-09-20 11:45] #646 closed

[2020-09-20 11:50] corneliusweig commented on #647
Please inspect the downloaded file. I suspect it will give you a clue what is going on.

Anyway, it does not look like a krew issue but rather a connectivity/firewall thing. If I'm mistaken, please reopen.

/close

[2020-09-20 11:50] #647 closed

[2020-09-20 12:24] jetersen commented on #645
Hmm while testing.

I noticed during install you like to log to stderr. Seems wrong as that would note an error.
In powershell with `$ErrorActionPreference = 'Stop'` it would immediately stop any executable as soon as you log to stderr.

https://github.com/kubernetes-sigs/krew/blob/7ba67155685d978c3661526ed5b9725425c42a97/cmd/krew/cmd/update.go#L174-L178

[2020-09-20 12:27] corneliusweig commented on #645
Would it be possible to redirect stderr, so that powershell does not complain?

[2020-09-20 12:29] jetersen commented on #645
Ya it is but there seems to be a mixture on when to log and when to write to stderr.

Fine
https://github.com/kubernetes-sigs/krew/blob/7ba67155685d978c3661526ed5b9725425c42a97/cmd/krew/cmd/install.go#L159-L162

Not to fine :)
https://github.com/kubernetes-sigs/krew/blob/f90ce36fb4b6bd81bf477eb7c9383e0cfeeefb26/cmd/krew/cmd/upgrade.go#L99-L102

[2020-09-20 20:30] ahmetb commented on #645
Here's how we currently stand on third-party distributions:

We can't prevent it (e.g. homebrew packages). But we passively discourage use of other package managers. This is primarily because we ensure the install instructions listed in the docs works and up to date. (That's why we don't document other package managers.) Limiting the installation methods keeps maintenance burden manageable for us,

[2020-09-29 06:18] ahmetb opened #651 "Remove Travis CI badge from README, use GitHub CI badge"
/good-first-issue
/help-wanted

[2020-09-29 15:53] #651 closed

[2020-10-07 16:52] pnovotnak opened #655 "Context flag seems broken in v1.5.0"
[code]
[code]

[code]

[2020-10-07 16:52] #655 closed

[2020-10-10 18:21] #623 closed

[2020-10-10 18:22] ahmetb commented on #519
I actually have implemented this using Netlify Functions. See #658

[2020-10-13 20:14] ahmetb commented on #619
/close
since by design.

[2020-10-13 20:14] #619 closed

[2020-10-29 15:18] #536 closed

[2020-10-29 21:05] tamalsaha opened #661 "Show custom index on krew website"
We have started maintaining our custom index for krew. https://github.com/appscode/krew-index .

We would be interested to list our plugins on the krew website. Is that something krew wants to do for custom indexes? If yes, how should we proceed?

Thanks.

[2020-10-29 21:36] ahmetb commented on #661
One major reason that we have created a custom plugin indexes is that we get out of the business of maintaining such lists.

Right now there are a few similar custom index repositories out there, however they contain one or two plug-ins, which are several orders of magnitude smaller than the krew-index.

There's a reason why we still maintain the krew-index repo, it provides great discoverability.

[2020-10-29 21:38] tamalsaha commented on #661
Understood. May be ArtifactHub will start surfacing krew index also. Thanks.

[2020-10-29 21:38] #661 closed

[2020-10-29 22:01] ahmetb commented on #661
First time I'm hearing artifacthub. Yeah krew repos are fairly easy to discover (using a bigquery dataset query etc) as they have a very specific structure. I suppose this is not a priority for us right now.

[2020-10-29 22:03] tamalsaha commented on #661
I am not in on the all the politics around Hubs. But my understanding is that ArtifactHub wants to be the universal Hub for cloud native artifacts. So, it will be nice to have krew indexes show up there.

[2020-11-01 00:13] eoli3n opened #662 "distribute as a go package"
Any chance to be able to install this with ``go get`` ?

[2020-11-01 03:32] ahmetb commented on #662
Pretty sure you can with the right import path, though it's not a recommended installation method as it can't update itself.

[2020-11-01 03:32] #662 closed

[2020-11-04 16:39] #379 closed

[2020-11-09 11:52] kanduvisla commented on #613
I'm having this same issue on MacOS when trying to install the `oidc-login`-plugin:

[code]

Anyone ever managed to solve this issue? I am able to download the file using wget just fine.

[2020-11-09 14:13] rafac92 opened #663 "Documentation missing how to install krew (and other plugins) offline (without internet access)"
Hi,

I was trying to install krew on a Machine which has no internet access but with the instructions I found here https://krew.sigs.k8s.io/docs/user-guide/setup/install/ I am not able to install it. It constantly tries to get the default index from github.
I tried also to download the current content of the default directory. It did some further steps but then it again tries to do a git fetch whi

[2020-11-09 16:54] chriskim06 commented on #663
So prior to krew v0.4.0 there was a somewhat offline install process. With the addition of custom indexes an issue came up and is detailed here https://github.com/kubernetes-sigs/krew/issues/630. The tl;dr version of that issue is that with the old way of installing krew, users wouldn't receive updates to krew itself in the future without some other changes and we ultimately settled on changing th

[2020-11-09 16:58] ahmetb commented on #663
There are other package managers like Homebrew that package krew. That can help you install it semi-offline.

Alternatively, you can use command:

    krew install --manifest=krew.yaml --archive=krew.tar.gz

To install offline. But in this case krew won't be upgrading itself going forward as @chriskim06 said.

[2020-11-09 18:16] ahmetb commented on #663
@chriskim06 To be clear, if you have access to plugin tarballs + manifest files, you can install them offline. All that does is practically just unpacking them at the right location and creating a symbolic link at ~/.krew/bin.

I'm not sure if this is a desirable use case as it will not update the installed plugins. @rafac92 what exactly are you looking for here?

[2020-11-09 20:55] ahmetb commented on #613
@kanduvisla this is a very rare issue happening to a very small number of users, and we were not able to get help from anyone to debug this, so we've closed.

Can you try executing these commands and see if one of them works by any chance. Trying to figure out why network stack acts differently on different computers.

[code]

[code]

[2020-11-11 09:21] rafac92 commented on #663
Thanks for the explanations @ahmetb and @chriskim06.
I only need krew for installing the kubelogin plugin, and as far as I understood, I could do that offline by getting krew.tar.gz and the krew.yaml file to install it via itself. (I guess that I need to have krew.tar.gz twice. Once to unpack the tar.gz to have the executable krew and seccond to pass it to krew)

Afterwards I assume that I can ins

[2020-11-11 16:54] chriskim06 commented on #637
This completely fell off my radar, I'll try to get to this soon

/assign

[2020-11-11 20:13] ahmetb commented on #663
Your understanding is correct.
/close

[2020-11-11 20:13] #663 closed

[2020-11-14 01:49] RouxAntoine opened #664 "Sanitize path, before comparing with krew binary folder"
Hi,

First of all thanks for this plugin manager it is simple and really convenient. This issue is about warning display when i use krew :

[code]

This warning is due to my PATH variable which contain `$PATH:/home/user//go/projects/gopath/.krew/bin` => note double slash for example. And the code here :
https://github.com/kubernetes-sigs/krew/blob/7ba67155685d978c3661526ed5b9725425c42a97/internal/

[2020-11-15 14:56] corneliusweig commented on #664
That's a valid flaw and you analyzed it perfectly. Thanks for taking a look and the time to fix this.

[2020-11-15 15:00] corneliusweig commented on #586
/remove-lifycycle stale
/freeze
I think this is important long-term and we should work on this eventually.

[2020-11-15 15:11] RouxAntoine commented on #664
Thanks I look to fix your PR review

[2020-11-15 15:11] RouxAntoine commented on #664
Thanks I look to fix your PR review

[2020-11-15 19:02] chriskim06 commented on #632
/remove-lifecycle stale

[2020-11-17 12:30] #664 closed

[2020-11-24 00:43] mabushey opened #667 "Does not work on Ubuntu"
[code]
[code]

[2020-11-24 00:44] mabushey commented on #667
I fixed it with `rm -rf /home/ubuntu/.krew/index`

[2020-11-24 19:05] corneliusweig commented on #667
Interesting. Can you reproduce this?
Aside: how did you install `krew`?

[2020-11-24 19:38] ahmetb commented on #667
I’m suspecting of an old installation or corrupted index (due to possibly exiting in the middle of it)?

[2020-11-29 20:12] corneliusweig commented on #667
Please let us know if you can reproduce. Until then, let's close this issue.

/label triage/not-reproducible
/close

[2020-11-29 20:12] #667 closed

[2020-11-29 20:34] #639 closed

[2020-12-05 21:09] #637 closed

[2020-12-08 04:11] papuneftali opened #672 "Kubernetes"

[2020-12-08 07:03] #672 closed

[2020-12-11 07:56] mbs-c commented on #631
/remove-lifecycle stale

(Can I do that?)

[2020-12-11 20:22] ahmetb commented on #631
/lifecycle frozen

[2020-12-16 06:24] nicholaswilde opened #673 "Doesn't install on arm64"
I tried using krew using the script from the [installation documentation](https://krew.sigs.k8s.io/docs/user-guide/setup/install/) on an RPi4.
[code]

Output
[code]
I know that there isn't an `arm64/aarch64` executable in the release packages, but it does seem to work by manually running `./krew-linux_arm install krew`

[code]
[code]

[2020-12-16 23:53] noelmcloughlin opened #674 "[Windows] [install] fatal: ambiguous argument '@upstream'"
I am a new user. The command `krew install krew` failed for me on Windows

[code]

[2020-12-17 00:21] ahmetb commented on #674
Suspecting cygwin. Can you try WSL or native windows support?

[2020-12-17 08:21] ahmetb commented on #673
I suspect we need to throw another `-e 's/aarch64/arm/'` in the sed command there.

[2020-12-17 10:37] noelmcloughlin commented on #674
This is a known issue in GIT. Some robustness may be needed (I used Windows krew binary).  Some code fix might be needed.

https://github.com/jenkins-x/jx/pull/4734
https://github.com/kubeflow/manifests/issues/509
https://github.com/fluxcd/flux/issues/967
https://github.com/jenkins-x/jx/issues/5534

[2020-12-17 16:57] ahmetb commented on #674
It is very unlikely we'll try to support Cygwin.

[2020-12-17 17:23] flickerfly opened #676 "Heavy handed path setting?"
The install docs say to set the path to:
"${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

Why put Krew at the front? This seems a bit heavy handed? Could it simply be put at the end? Is it overriding something in my path?

[2020-12-17 17:39] noelmcloughlin commented on #674
The  "fatal: ambiguous argument '@upstream' is generated from GIT code (I
checked) and I'm just showing you the error in Cygwin shell.  krew is
installing using git and hitting some unexpected circumstance which
apparently can be avoided - I included some tickets.

[2020-12-17 18:33] ahmetb commented on #674
Thanks, I'll keep it open to see if it happens to anyone else. Unless tampered manually, I am not aware of any reason why git would end up in this situation. There's nothing new in the code, and I'm not sure if there's a git breaking change.

[2020-12-17 18:37] ahmetb commented on #676
Shouldn't have any practical difference. Often, your path is entirely scanned before it's used in a shell environment like bash or zsh.

The only place it would make difference is if you install Krew with another package manager like Homebrew, having PATH set like this and running `krew install krew` would make the krew-installed version of krew being picked up first. (Sorry if I confused you ther

[2020-12-17 18:42] flickerfly commented on #676
Well, it is more that it leaves a question of what is being hidden because anything in $HOME/.krew/bin would override anything else in the path. For example, the project could create a file `$HOME/.krew/bin/less` that would then be used to override the use of the proper system `less`. This is a common type of thing done in attacks to swap out a program for another that when run looks the same, but

[2020-12-17 19:04] ahmetb commented on #674
/kind bug
/priority awaiting-more-evidence

[2020-12-17 19:09] ahmetb commented on #676
Krew creates files under `bin/` with only `kubectl-` prefix for obvious reasons. :)

However, moving it to the end on the PATH only partially mitigates such a potential risk. For example, many scripts look for `gsed` then falls back to `sed`. Such a malicious process, despite being at the end, could still get picked up.

So this alone is not a great reason to move it to the end. It doesn't help re

[2020-12-17 19:11] flickerfly commented on #676
What's to prevent some other process outside krew from adding something ~/.krew/bin?

[2020-12-17 20:35] ahmetb commented on #676
If you have concerns with respect to the writeable nature of the ~/.krew/bin, you can use KREW_ROOT to change the install path to a less writable location. https://krew.sigs.k8s.io/docs/user-guide/advanced-configuration/#custom-install-dir However, I think if a process has full RW access to your home directory, you might have larger issues.

Overall you'd be installing unaudited plugins with Krew,

[2020-12-17 20:58] flickerfly commented on #676
Okay, thanks for sharing your thoughts on the matter.

[2020-12-17 20:58] #676 closed

[2020-12-25 16:21] corneliusweig commented on #644
I tried this out in another project and dependabot creates quite a lot of noise. For us it's probably not worth it.
/close

[2020-12-25 16:21] #644 closed

[2020-12-31 21:22] gkumarchilakala opened #680 "Linux installation error"
I facing the below error while trying to install the krew on the Oracle Linux 7.9, Need Help in fixing the error.

**Output of the Install command execution:**

++ mktemp -d
+ cd /tmp/tmp.Xb9SycXFBM
+ curl -fsSLO -k https://github.com/kubernetes-sigs/krew/releases/latest/download/krew.tar.gz
+ tar zxvf krew.tar.gz
./LICENSE
./krew-darwin_amd64
./krew-linux_amd64
./krew-linux_arm
./krew-windows_amd

[2020-12-31 21:32] ahmetb commented on #680
Your root certs are not properly working. It can’t query github.com as you see. We can’t do anything for you.
/close

[2020-12-31 21:33] #680 closed

[2020-12-31 21:34] gkumarchilakala commented on #680
Appreciate the quick response @ahmetb

[2021-01-08 13:13] tegioz commented on #661
You can now add your custom index repository to Artifact Hub @tamalsaha. For more details please see: https://artifacthub.io/docs/topics/repositories/#krew-kubectl-plugins-repositories.

[2021-01-10 17:37] tace opened #682 "Windows 10 WSL - "cannot allocate memory" when calling krew commands"
Windows 10 1809 and WSL1, most of krew calls I get "**cannot allocate memory**".
I'm using ConEmu terminal.

[2021-01-11 23:49] ahmetb commented on #682
I think you're hitting a quite old bug (regarding executing plugins) that existed in old versions of kubectl.

https://github.com/kubernetes/kubectl/issues/603#issuecomment-569646963

[2021-01-11 23:49] #682 closed

[2021-01-12 07:27] tace commented on #682
My kubectl version is v1.19.3

[2021-01-14 12:52] goafabric opened #683 "Krew immediately fails after installation under Macos Big Sur"
Following this Process:
https://krew.sigs.k8s.io/docs/user-guide/setup/install/

Krew just fails directliy with:
0114 13:48:16.421460    7059 root.go:79] failed to retrieve plugin indexes: failed to list the remote URL for index .DS_Store: command execution failure, output="": fork/exec /usr/local/bin/git: not a directory

Envirnomnet:
- Macos Big Sur
- zsh

git is accessible , as well as in the p

[2021-01-14 13:11] goafabric commented on #683
Ok the problem seems to be that Macos as always likes to create .DS_Store Folders . .which is a common thing
After krew update there will also be on inside .krew/index .. and than everything fails.
Manually removing the .DS_Store solves the issue temp. until the next update ..

[2021-01-14 16:11] chriskim06 commented on #683
Interesting, I'll try to investigate this weekend after upgrading to big sur. Thanks for doing some digging and filing this issue!

[2021-01-14 17:25] ahmetb commented on #683
I had Krew installed prior to updating to Big Sur, and I'm not observing this.

I can repro this by doing `touch ~/.krew/index/foo` followed by `kubectl krew update`.

@chriskim06 it sounds like we need to Walk only directories under $KREW_ROOT/index but we currently aren't. There's probably no situation we should consider non-dir entries as index candidates.

[2021-01-14 17:27] ahmetb commented on #683
Although I must note that a clean install didn't result in this error.
@goafabric I'm suspecting you might've opened ~/.krew directory or its subdirectories in Finder.app once? (Though, even that didn't create the issue for me.)

[2021-01-14 17:31] chriskim06 commented on #683
I think we are only walking directories now that I'm taking a closer look https://github.com/kubernetes-sigs/krew/blob/master/internal/index/indexoperations/index.go#L38-L58. We use `ioutil.ReadDir` which according to the [docs](https://golang.org/pkg/io/ioutil/#ReadDir):

[2021-01-14 17:34] ahmetb commented on #683
@chriskim06 yeah that returns all entries (it's a readdir syscall).

[2021-01-14 17:35] ahmetb commented on #683
/kind bug
/priority p3
/help-wanted
/good-first-issue

[2021-01-14 17:37] chriskim06 commented on #683
Oh ya makes sense, I misread the doc thinking it meant it only reads "entries that are directories" instead of "the entries in the directory"

[2021-01-15 12:40] goafabric commented on #683
thanks for the quick reply

[2021-01-15 22:37] esatterwhite opened #684 "Unable to install plugins from private repo"
I've setup a private git repository on github that houses a krew index. I have a plugin that I can install manually locally, pointed krew at the registry successfully. However, It cannot seem to get download the tarball from the.  It is mostly erroring on comparing the checksums, but the checksum it generates is different on every request, so I don't think it is actually getting the tarball.

[cod

[2021-01-16 02:32] chriskim06 commented on #684
No not right now. Krew doesn't support downloading plugins from private repos currently. I think this has come up before but it would require some design before we do any kind of implementation for it.

[2021-01-24 23:06] corneliusweig commented on #586
/reopen
/remove-lifecycle rotten
/good-first-issue

[2021-01-24 23:15] corneliusweig commented on #684
@esatterwhite Are you using ssh key-based authentication mechanism? If so, I'm surprised this doesn't work.

[2021-01-25 09:52] webmutation opened #685 "Corporate Proxy settings and Custom path for home"
Currently facing two problems:
1) Problem installing krew on Windows machine that is behind corporate proxy. Apparently the installer is not picking up the proxy settings

[code]

2) I need to be able to define the path where krew and the plugins are installed, since this is a corporate laptop, we have a special folder where we can run non-whitelisted exec only. Is there a way to set the paths?

[

[2021-01-25 10:16] webmutation commented on #685
For issue 2 I was able to see in the code that we can set KREW_ROOT as env variable :)

[2021-01-25 10:51] #685 closed

[2021-01-25 11:45] webmutation commented on #643
Hi, I am on a corporate laptop and we face exactly this restriction, for this reason we cant rollout krew to 200+ developers within our organization.

Currently this is the only problem we face, we are not able to create the symlinks... as a workaround we copy the files and rename them... however since it fails there is no receipt file created, so in the end it fails... as a workaround what I usua

[2021-01-25 17:03] ahmetb commented on #685
Did you resolve the proxy issue?

[2021-01-25 18:25] webmutation commented on #685
Yes the shell i was using had the proxy settings removed. In the end i just set http_proxy and https_proxy again and it was able to connect

[2021-01-27 00:31] ahmetb commented on #684
Admittedly, this is something we missed during the design phase of custom indexes.

We handle retrieving the plugin index from a private repository (as ssh keys or remote helpers can help authenticate users). However, we only fetch the plugin bundle over https and without a way of authenticating.

Krew can still fetch the plugin bundle if it was at an unauthenticated (but firewalled endpoint) such

[2021-01-28 02:35] nightofmind opened #686 "Failed to install on Apple Silicon"
I tried to install `krew` using the script from the installation documentation on an Apple Silicon.

[code]

Output

[code]

Can we support Apple Silicon, or is there any workaround to install it on Apple Silicon?

[2021-01-28 04:30] ahmetb commented on #686
Similar to #673 but in this case we’re missing the darwin/arm64 in the build matrix. I suspect we’ll contact you soon for testing once we have a fix.

/kind bug
/priority p1

[2021-01-28 04:32] ahmetb commented on #673
/kind p2
/area distribution

[2021-02-01 07:14] Voigtus commented on #643
Hai there,
I've got the same problem as @webmutation has.
We are not allowed to run elevated processes (except for a few lucky guys) and are therefore not capable to use krew.

If I remember correctly scoop is using the mechanism mentioned by @webmutation. While updating there is a "new" folder and as the last step everything is copied to a "current" folder.
This could be a "last ditch" method, wh

[2021-02-02 19:01] ahmetb opened #688 "install: uses "arm" as arch selector on "arm64" devices"
On an `arm64` device (per `go env GOARCH`), Krew successfully installs plugins with selector `arch: arm` however it doesn't install plugins with `arch: arm64`.

So I suspect there's something wrong with how we interpret os/arch pairs on arm64 specifically.

For example, installing krew itself (logs with -v=7 show) that Krew shows that it's picking up `arm` as the GOARCH value:

[code]

/area distr

[2021-02-02 19:01] ahmetb commented on #673
So the sed command mentioned above works, but this has unrevealed another bug.

On an `arm64` environment (per `go env GOARCH`), Krew successfully installs plugins with selector `arch: arm` however it doesn't install plugins with `arch: arm64`. So I suspect there's something wrong with how we interpret os/arch pairs on arm64 specifically.

Opening #688 to track.

[2021-02-02 19:10] ahmetb commented on #688
So I think here's what's happening.

## Problem

If we install `krew_arm` binary for arch amd64, then we are installing a 32-bit binary. (The `arm` binary actually works on `arm64`, at least on an AWS machine, just like how x86 binaries work on x86_64.)

Therefore, inside this binary, `runtime.GOARCH` shows `arm`. That's why Krew is using it, despite the OS is actually `arm64`.

## Solution

To so

[2021-02-02 19:28] ahmetb commented on #643
@corneliusweig I agree with the problem, it doesn't seem there will be a clean solution. However, right now it won't be feasible to copy all plugins’ files into ~/.krew/bin (as it'll turn into a DLL hell, will overwrite other plugins’ files/.dll's). What’s a proper solution here? Hardlinks? `*.lnk` shortcut files?

[2021-02-05 21:00] #673 closed

[2021-02-05 21:00] #688 closed

[2021-02-14 16:06] chriskim06 commented on #632
I'm planning on working on this soon.

/assign

[2021-02-16 14:39] bashofmann opened #691 "Validation for cert-manager plugin fails because of license check"
The validation of the [cert-manager](https://github.com/jetstack/cert-manager) plugin currently fails because of the license check that was introduced in https://github.com/kubernetes-sigs/krew/pull/642.

The cert-manager plugin artefacts contain a file named `LICENSES` which is not covered by the valid license file names specified in https://github.com/kubernetes-sigs/krew/blob/master/cmd/validat

[2021-02-16 18:06] #691 closed

[2021-02-17 18:43] #686 closed

[2021-02-17 22:49] #645 closed

[2021-03-04 18:01] wikimix commented on #683
I resolved the issue as follow :

- Delete the folder ~/.krew
- reinstall Krew

And it works !

[2021-03-09 17:33] #632 closed

[2021-03-11 13:14] zigarn commented on #622
@corneliusweig : because downloading the only 11MB file that I need for my platform would be less network/space consuming than downloading a 23MB tarball containing 6 files I don't care about.

Providing separate files and updating the install instruction to compute the right file to download instead of the right file to execute from the extracted tarball (no idea about this YAML file mentioned, n

[2021-03-11 16:36] ahmetb commented on #622
@zigarn do you mind opening a new issue proposing this, I think it's doable.

[2021-03-11 18:30] corneliusweig commented on #622
Yes, I think it's worth reconsidering, since we added binaries for another architecture recently.

[2021-03-11 19:49] ahmetb opened #696 "Explore use of t.TempDir()"
Go 1.15 started offering t.TempDir() function https://golang.org/doc/go1.15#io/ioutil
We can now deprecate our implementation of `testutil.NewTempDir(t)`.

/help-wanted
/good-first-issue

[2021-03-12 08:29] zigarn opened #697 "[releases] provide platform-specific binaries instead of tarball"
Would be nice to have separate binaries that could be downloaded independently for installation.

There could be compressed version of each also to save bandwidth when needed.

Rebirth of #622

[2021-03-12 08:29] zigarn commented on #622
Opened #697

[2021-03-12 13:08] Evalle commented on #696
Hi, I would like to contribute.
/assign

[2021-03-12 18:11] ahmetb commented on #696
@Evalle go for it! thanks for signing up.

[2021-03-13 10:19] corneliusweig commented on #697
/help-wanted

[2021-03-15 09:15] lauchokyip commented on #683
@chriskim06 @ahmetb
Hi, I would like to try but I need some more inputs to get started :)

So based on this comment (https://github.com/kubernetes-sigs/krew/issues/683#issuecomment-760343056) should I read the directory and assign them into the index over here (https://github.com/kubernetes-sigs/krew/blob/d52f13eac46c74e91b8b373fee531d68180a280c/internal/index/indexoperations/index.go#L44-L55)?

T

[2021-03-15 16:02] lauchokyip commented on #683
/assign

[2021-03-15 16:20] chriskim06 commented on #683
This function looks in the `index` folder for the various indexes that a user has, which are just git repos cloned into that directory. I think the original problem was that there was a `.DS_store` file or folder (I'm not super well versed in macOS stuff) in that folder. If that's a file then I think adding something like
[code]
would be enough (and probably changing the name of that variable). It

[2021-03-15 16:22] lauchokyip commented on #683
Gotcha, thank you for your quick response! Hopefully to have a PR by today. I don't have MacOS so I am not sure if I can reproduce the error :/

[2021-03-17 09:15] neo-liang-sap opened #704 "krew doesn't work on MacOS with error F0317 17:07:28.219832 20579 root.go:77] failed to update the local index: command execution failure, output="fatal: destination path '/Users/xxx/.krew/index' already exists and is not an empty directory.\n": exit status 128"
My env information as below:
![image](https://user-images.githubusercontent.com/42594392/111443600-8000e400-8744-11eb-9aba-ae4a637e4117.png)

for installation i followed guide in https://krew.sigs.k8s.io/docs/user-guide/setup/install/

[code]

[code]

when running several `kubectl krew` command i got following error

[code]
[code]

[2021-03-18 23:26] ahmetb commented on #704
It seems that you're installing an old version of krew. Some directory layouts have changed in 0.4. Try installing the new 0.4.x versions.
/close

[2021-03-18 23:26] #704 closed

[2021-03-22 16:37] #696 closed

[2021-03-31 16:18] Stefanqn opened #706 "Installing krew - failed to list indexes"
[code]

[code]

[code]

[code]

[2021-03-31 17:06] ahmetb commented on #706
I cannot reproduce this in an `ubuntu` container from Docker Hub that has `git` and `curl` installed. The installation command over at https://krew.sigs.k8s.io/docs/user-guide/setup/install/ works fine.

[2021-04-06 16:47] Stefanqn commented on #706
ok, I found the issue.

krew installation does not handle `[GIT_CONFIG` ](https://git-scm.com/docs/git-config) properly. Prefix the installation command with `export GIT_CONFIG=` to reproduce.

[2021-04-06 17:31] ahmetb commented on #706
We just shell out to `git`, but we don't pass environment variables to it. I don't know if git has full list of env vars, but I couldn't find GIT_CONFIG [here](https://git-scm.com/book/en/v2/Git-Internals-Environment-Variables), it seems to be appearing on the man-page you linked.

I suspect [certain variables](https://git-scm.com/book/en/v2/Git-Internals-Environment-Variables) like `GIT_CONFIG` m

[2021-04-07 10:31] Stefanqn commented on #706
This is the interesting part, I don't use GIT_CONFIG for connection settings.

I use it to switch git configs (diff tools, newline handling) for different computers, with shared, versioned dot files.

To emphazise,
a) without any gitconfiguration, krew works fine,
b)  with the gitconfiguration, which I referred to in `GIT_CONFIG`, krew works fine
c) just if I set `GIT_CONFIG` to any value, even em

[2021-04-18 12:06] #674 closed

[2021-04-26 19:13] DirtyCajunRice commented on #576
This hasnt moved in a while so i'd like to chime in and request initially just the ability to configure an environment variable to silence the warning. `KREW_UNTRUSTED_WARNING=false`. I understand it may be few and far between when a new plugin is installed... but this also shows on updates.

[2021-04-27 14:13] tsunamishaun commented on #684
@ahmetb after moving things around in our repo we eventually came to that conclusion :/ . I'm _actually_ glad someone else came across this, are there any plans to make private indexes/custom indexes a first class citizen? I was looking into krew-release-bot for custom indexes and it appears it is an open [issue](https://github.com/rajatjindal/krew-release-bot/issues/47) as well.

[2021-04-27 17:09] ahmetb commented on #684
@tsunamishaun this is probably a v1.0 blocker for us. so we are eager to hear use cases as well as proposed designs if there are any. people have all sorts of methods to authenticate to private urls. what's yours?

[2021-04-27 23:17] tsunamishaun commented on #684
@ahmetb We were planning to use github packages on private repos. I think most package repos (artifactory/github) would require user:token for pulling binaries with slightly varying requirements. Images storing binaries has had some appeal with those around me which would mean docker credentials. I should have looked but I don't think krew supports container type? Hopefully that was helpful, thank

[2021-04-27 23:38] ahmetb commented on #684
Yeah maybe we can consider supporting OCI layers in addition to https:// URLs and use the docker credentials detection logic docker already has. That would require us to do some work defining the format. I am doubting many other "private access" use cases actually will use a OCI Registry though.

[2021-04-29 02:09] ahmetb commented on #576
The problem with those knobs is that it's yet another thing to know about for the user.
@corneliusweig but I believe showing the warning on version upgrades sounds like a bug. I don't think we had that at the beginning. it might've creeped in.

[2021-04-29 05:21] DirtyCajunRice commented on #576
The functionality has always been to fill your terminal with a massive wall of text most of us are acutely aware of already. Adding a user defined override that has to be explicitly looked for in the docs and intentionally set to be enabled is, in my opinion, the opposite of something the user _has_ to be aware of. I would safely assume the significant majority would never even know a toggle optio

[2021-05-02 09:12] corneliusweig commented on #576
IIRC, we decided to show the warning on updates, because plugin updates do not get vetted at all and could ship entirely different software.
How about showing the warning just a single time instead for every updated plugin? Would that be good enough?

[2021-05-08 01:48] woodliu opened #708 "Krew install issue"
Hi, This is my first time useing krew. I download the krew and run the command below, it return err:
[code]

This is my sys info:
[code]

Because the network issue, I want install manually, thanks!

[2021-05-08 16:17] ahmetb commented on #708
Please follow installation instructions. Running a binary alone like that can have issues.

[2021-05-10 02:27] woodliu commented on #708
Hi, This is may be the reason. Thanks!
Do you have a plan that support install Krew manually?

[2021-05-10 04:05] ahmetb commented on #708
Our installation script is a spelled out manual installation already. I think you just need to run "krew update" command on the binary.

[2021-05-10 04:05] #708 closed

[2021-05-11 06:05] dirtycajunrice commented on #576
The output verbosity and its warning is a statement that currently stands for every single plugin. Showing it sometimes is the same as showing it all of the time.

When krew has an official vetted repo option, the warnings would fit the purpose. When it is simply the application as a whole, it is obtrusive and repetitive. You have the option to "trust" a self signed certificate, which squelches th

[2021-05-14 09:22] shyr commented on #706
I also faced the same issue. After deleting ~/.krew directory, and try to install it agin. For me, it worked.

[2021-05-15 18:42] corneliusweig commented on #576
Are you saying that this is not good enough?

[2021-05-17 06:05] dirtycajunrice commented on #576
Correct. Was trying to give a why and not just a "no".

[2021-05-19 11:16] abinet commented on #708
Have same issue with latest windows binary downloaded
PS C:\Users\USER> krew version
This version of Krew is not supported anymore. Please manually migrate:
1. Uninstall Krew: https://krew.sigs.k8s.io/docs/user-guide/setup/uninstall/
2. Install latest Krew: https://krew.sigs.k8s.io/docs/user-guide/setup/install/
3. Install the plugins you used
F0519 13:15:38.360932   75436 root.go:79] krew home ou

[2021-05-21 08:43] rbtcollins commented on #631
Yeah, so to add a little technical colour, some AV implementations hook in post-write, opening and scanning the file *after* it is written to disk. No implication of TOCTOU race, since they could also have a JIT check in place. But an IO pattern of:

* creat
* write
* close
* rename (either the file or a containing directory)

will race with the AV scanners
* open
* read
* close
calls on Windows O

[2021-06-11 11:16] zigarn commented on #697
/remove-lifecycle stale

[2021-06-13 21:09] MaitreDede commented on #706
Hi,
With release v0.4.1 (using bash script from doc setup/install on debian buster amd64):
[code]

[2021-06-13 21:17] ahmetb commented on #706
@MaitreDede I don't have french but it's likely a connectivity issue on your end. Nothing we can fix here.

[2021-06-13 21:17] #706 closed

[2021-06-13 21:25] #697 closed

[2021-06-24 00:26] #586 closed

[2021-06-28 08:01] myxxhui opened #709 "Can Krew support the installation of local plug-in packages"
How do I install plug-ins offline

![image](https://user-images.githubusercontent.com/69575321/123601296-1788cf00-d82a-11eb-8118-7360a319c9a8.png)

[2021-06-28 16:08] ahmetb commented on #709
You can install them with --manifest and --archive options but these are not meant for end-users who are using plugins (these options are for plugin developers). If you use these, the plugins will not get updates.

[2021-06-28 16:09] ahmetb commented on #709
/kind question

[2021-07-10 09:23] corneliusweig commented on #709
I think this question has been resolved, right? If it wasn't, please leave a note and we'll reopen.
/close

[2021-07-10 09:23] #709 closed

[2021-08-09 12:02] spirosoik commented on #683
is this still open? can I have a look?

[2021-08-09 12:33] lauchokyip commented on #683
Hi spiros, I think I have fixed the issue.

On Mon, Aug 9, 2021, 08:02 Spiros Economakis ***@***.***>
wrote:

[2021-08-13 18:28] ahmetb opened #711 "zip extractor cannot handle archives with directory structure"
This came up in https://github.com/kubernetes-sigs/krew-index/pull/1468#issuecomment-898642450.

Our code for ZIP extraction looks for directory entries in the archive file to go mkdir those.  https://github.com/kubernetes-sigs/krew/blame/74774e46375b023f73dcc9085339aa56ae7a9675/internal/download/downloader.go#L65-L73 However the ZIP format doesn't have directory entries unlike the TAR format.

So

[2021-08-13 19:43] ahmetb commented on #711
/kind bug
/priority P1

[2021-08-13 19:52] ahmetb commented on #711
Correction: tar also doesn't necessarily have directory entries and this was fixed in #127, but wasn't fixed for zip at the time.

[2021-08-15 15:25] #711 closed

[2021-08-17 21:34] millermatt commented on #684
/reopen

[2021-08-17 21:36] millermatt commented on #684
@ahmetb can this get reopened?

[2021-08-18 06:47] ahmetb commented on #684
/reopen

[2021-09-03 22:20] tomelliot16 commented on #684
any movement on this?

[2021-09-05 14:10] AssafKatz3 opened #713 "Install at WSL failed - x509: certificate signed by unknown authority"
Hi,
I ran (I added the -k due to error at download):
[code]
It seems that there is no workaround for it :-(

I got this error on WSL2, Ubuntu 20.04.3 LTS with no k8s cluster running.

Thanks

[2021-09-05 21:48] corneliusweig commented on #684
/cc @chriskim06

[2021-09-05 21:55] corneliusweig commented on #713
This looks like an SSL issue inside WSL2. Common causes are
- missing CA certificates inside WSL
- large time skew of the clock inside WSL (check that `date` reports a reasonably accurate time)

There's nothing wrong with krew though, so I'll close this issue.
/close

[2021-09-05 21:55] #713 closed

[2021-09-08 06:07] RogerParkinson opened #714 "Can I install an explcit plugin version w krew?"
The plugin I installed has a problem, but the earlier ones are okay.
Is there a way to install an explicit version of a plugin, ie not the latest one?

[2021-09-08 17:03] ahmetb commented on #714
@RogerParkinson unfortunately not, that's somewhat by design.
You can however manually install the plugin or take a harder path:

1. find the commit in krew-index repo that has the right version
2. cd $HOME/.krew/index/default
3. git reset --hard $COMMIT
4. kubectl krew install NAME --no-update-index

/kind question
/close

[2021-09-08 17:03] #714 closed

[2021-09-10 00:37] chriskim06 commented on #684
no there isn't a PR for this yet. @tomelliot16 what is your specific use case here? private github repos was a use case mentioned earlier in this thread and I'm guessing that would be a large portion of use cases. we need to figure out requirements and come up with a design for this feature before working on a PR

[2021-09-17 08:55] developer-guy opened #717 "[Bug]: additional information within the error message which might not be helpful to the users"
Hello, once we run the **_info_** subcommand without given any arguments, we realized that there is additional information within the error message which might not be helpful to the users like the following:

[code]

This error message comes from [here](https://github.com/kubernetes-sigs/krew/blob/master/cmd/krew/cmd/root.go#L79), so we propose to fix this to avoid showing this information.

cc: @

[2021-09-17 16:02] ahmetb commented on #717
What would the proposed behavior look like?

[2021-09-24 11:48] developer-guy commented on #717
thank you so much for the quick response, we just thought that maybe removing the code detail from the error message would be okay. So, it will become to the following:

[code]

[2021-09-24 16:47] ahmetb commented on #717
Sounds good. We can just print to stderr in that case.

[2021-09-29 10:27] benzhonghai008 commented on #631
![image](https://user-images.githubusercontent.com/11565829/135249200-571b216a-8411-4174-845b-cac599bb287f.png)
![image](https://user-images.githubusercontent.com/11565829/135249765-ee36dfd9-0613-4213-8271-1373bb909105.png)
Tried the upper solution, but still not work. Always say, synlink created failed.....
Is there anyone could help on this? Will be grateful.

[2021-10-04 14:37] tillig opened #720 "Path setting with ~ is not correctly interpreted"
After installing `krew`, I've added `~/.krew/bin` to my path, which works for other tools requiring home-directory-based-paths... but does not seem to work for `kubectl` or `krew`.

For `krew`, you get a warning when you do an update:

[code]

However, I can do `kubectl krew list` and see the plugins I have, so _some_ things work, just not all.

I do see that `kubectl` itself doesn't seem to handl

[2021-10-11 11:13] MadhavJivrajani commented on #684
/remove-kind design
/kind feature
`kind/design` is migrated to `kind/feature`, see https://github.com/kubernetes/community/issues/6144 for more details

[2021-10-11 14:51] deejross opened #722 "Proposal: REST-based Index"
Would there be any interest in supporting a REST-based index in addition to the Git-based index? In disconnected environments, a REST-based service could host the index and the binaries. This can reduce the amount and complexity of supporting infrastructure.

In a Kubernetes environment, images holding the desired binaries can be used instead of file servers and Git repos. In disconnected Kubernet

[2021-10-11 14:59] soltysh commented on #722
@ahmetb @corneliusweig I'm curious your opinions

[2021-10-14 02:20] conradwt opened #723 "Unable to update to the lastest stable release on macOS 11.6"
When I enter:

[code]

I'm getting the following:

[code]

[2021-10-14 03:12] chriskim06 commented on #723
ah there's an [open PR](https://github.com/kubernetes-sigs/krew/pull/700) currently for updating the install instructions after a change was made for [releasing separated archives for each platform](https://github.com/kubernetes-sigs/krew/pull/699). if you already had krew installed then the usual `kubectl krew upgrade` should upgrade it properly. for new installs the instructions will be updated

[2021-10-14 07:10] conradwt commented on #723
@chriskim06 `kubectl krew upgrade` does upgrade `krew`.  However, the documentation says that this command would `upgrade installed plugins to newer versions`.  Is this documentation missing from the `help` option or should there be another option for `krew` updating itself?

[2021-10-14 16:02] themarquee opened #724 "tar download link does not work for v0.4.2"
404 when downloading this: https://github.com/kubernetes-sigs/krew/releases/download/v0.4.2/krew.tar.gz

[2021-10-14 16:26] #724 closed, assigned to nobody

[2021-10-14 16:28] #723 closed, assigned to nobody

[2021-10-17 10:03] georgettica opened #725 "feat: make go install fast"
I installed krew using
[code]
(the x shows the progress)

and it took a very long time to build and install..
would that be a good way of installing krew?

( I like it because I can point the GOBIN to wherever I want, and anyways this is the way binaries are installed in newer go versions)

[2021-10-17 16:40] ahmetb commented on #725
It's not a supported method of installation because krew can't update itself that way or register itself as a plugin. It will work but you're on your own that way.

Also I am not sure why optimizing the one-time install cost is important. It's likely pulling down other dependencies.

/close

[2021-10-18 02:14] tamalsaha opened #726 "Download links for v0.4.2 release does not work"
Hello,
The following links return 404

- https://github.com/kubernetes-sigs/krew/releases/download/v0.4.2/krew.tar.gz
- https://github.com/kubernetes-sigs/krew/releases/latest/download/krew.tar.gz

FYI, these links used to work for v0.4.1 release.

[2021-10-18 13:48] chriskim06 commented on #726
there was a recent change was made for [releasing separated archives for each platform](https://github.com/kubernetes-sigs/krew/pull/699). the [installation docs](https://github.com/kubernetes-sigs/krew/pull/700) were also recently updated (albeit a little bit after we released 0.4.2).

were you relying on those links in CI? this isn't the first issue filed for this, although the others were due t

[2021-10-18 16:33] #726 closed, assigned to nobody

[2021-10-18 16:43] ahmetb opened #728 "cmd: unknown commands now print a stack trace"
[code]

[code]

/kind bug
/priority P2
/good-first-issue
/help

[2021-10-18 17:54] deejross commented on #722
Thanks for your thoughts. To answer your questions:

With more k8s clusters being deployed to the edge, which are mostly disconnected, reducing the number of out-of-cluster resources and dependencies is greatly desired. For my use-case, the blobs are going to be stored in an image registry, which is already a dependency for k8s clusters. The index itself will be generated from k8s CRs.

Reduced co

[2021-10-20 00:26] ahmetb opened #729 "site: plugin list Loading... row never disappears"
The "Loading..." row remains even after the plugins are loaded.

/kind bug
/area docs
/priority P3
/help
/good-first-issue

![image](https://user-images.githubusercontent.com/159209/138008052-8ba6cb6a-b593-4dff-b5e8-5324531de330.png)

[2021-10-20 06:56] zhengtianbao commented on #729
I would like to take this up as my first issue.
/assign @zhengtianbao

[2021-10-20 14:21] kwsorensen opened #731 "krew.sh install is broken"
According to https://krew.sh/ we should be able to install krew with the following...
[code]

However it gets the following output

[code]

[2021-10-20 14:28] chriskim06 commented on #731
I believe this isn't an officially supported installation method by the krew team. IIRC this is something added by Replicated that we don't maintain. We recently changed the archives we publish with releases and this script is trying to use the old one. I'll try looking for the repo for it to file an issue.

/cc @laverya

I think you filed an issue awhile back about this mentioning krew.sh

[2021-10-20 14:30] #731 closed, assigned to nobody

[2021-10-23 03:52] #729 closed, assigned to zhengtianbao

[2021-10-24 17:44] #728 closed, assigned to nobody

[2021-10-26 14:04] akametall opened #734 "Issue with installing krew on Windows"
Hi, i have an issue with installing krew on windows 10.

i try everything in google, but always have an error:

[code]

     When i set a git http.proxy and get this

[code]

[2021-10-28 10:07] #734 closed, assigned to nobody

[2021-10-31 10:10] donorp opened #735 "Krew stopped working after same plugin get installed and uninstalled twice"
Hi, I was trying to automate the kubectl plugin releasing process within a custom krew-index repo, thus I need to test plugin installation as a part of the automation process to make sure everything's working.

## Environment

Host OS: `ubuntu-20.04` (github actions)

Krew version:

[code]

Could not reproduce this on local macOS.

## What you did?

Run krew install and krew uninstall for every os

[2021-11-01 09:35] corneliusweig commented on #731
As a side-note: krew.sh is not an officially supported installation method. It is a community contribution and bugs should be filed there.

[2021-11-09 18:29] ahmetb commented on #735
I've looked at the logs (specifically `9_Build and Push kubectl-convert.txt`) and nothing jumps to me. I've also tested this locally as follows:

[code]

and it does not reproduce for me. Does it only happen on your build environment? Or can you also locally reproduce this issue? I don't have a theory on what would cause this other than something's messing with the filesystem somehow.

[2021-11-09 20:04] donorp commented on #735
I cannot reproduce this on my local machine as well, only github actions have this issue.

Wild guess: one possible cause of this is the timing jitter in github virtual environment, as to my very limited experience, that's far more significant than the usual case.

[2021-11-10 20:32] donorp commented on #735
I wish I could say yes, but there is no parallel job in my pipeline, to make sure they are sequential commands, I created a github action to run krew install/uninstall in script, but still no luck: https://github.com/arhat-dev/krew-index/runs/4170194680

Action logs:

[10_Test krew redundent installuninstall.txt](https://github.com/kubernetes-sigs/krew/files/7515719/10_Test.krew.redundent.installu

[2021-11-10 20:44] ahmetb commented on #735
I think I have a theory.

https://github.com/kubernetes-sigs/krew/blob/master/internal/receiptsmigration/migration.go

If there are plugins installed (maybe krew itself!) but there are no installation receipts, we give that "krew home outdated" error.

Is it possible to run "tree $HOME/.krew" before the failing command on GitHub actions? That would _greatly_ help us debug how your setup got into t

[2021-11-11 17:00] donorp commented on #735
You are right, the receipts dir is always empty before and after the crash, and the plugin is not removed after `krew uninstall`.

[code]

I tried removing windows installation test (on linux) and everything's working (for linux and darwin), and also tried testing windows installation on windows, worked as well.

So I guess it's something related to the `KREW_OS` env, and probably it's caused by t

[2021-11-11 17:37] ahmetb commented on #735
I agree with your findings, although we need to look closely into implications of that (we might be relying on usage of KREW_OS for testing etc).

[2021-11-16 05:17] mattn opened #737 "Windows can not handle @{upstream} correcetly"
[code]

[2021-11-16 05:24] mattn opened #740 "colors are not right on Windows"
![image](https://user-images.githubusercontent.com/10111/141925961-b98a3b4b-c914-4671-92b0-f437001ddd80.png)

[2021-11-16 17:29] ahmetb commented on #737
more context: this was also previously reported on #674

[2021-11-22 18:41] ahmetb opened #742 "site: link for plugin star badges are broken"
https://krew.sigs.k8s.io/plugins/ star badges on this have this:

[code]

and therefore go to a 404 page within the site.

/kind bug
/area docs
/help
/good-first-issue

[2021-11-22 20:30] krishna2603 commented on #742
Hi, I am new to contributing.
where can I find the code file? I mean the name of the file.

[2021-11-23 05:57] rajatjindal commented on #742
I believe its here: https://github.com/kubernetes-sigs/krew/blob/78a78a6aa373893df3f127a6a6c6e29266b548db/site/functions/server/main.go#L172 and https://github.com/kubernetes-sigs/krew/blob/master/site/layouts/partials/footer.html#L67

[2021-11-23 05:58] rajatjindal commented on #742
wondering if we should have it so that its git repo hosting agnostic (github vs gitlab e.g.)

[2021-11-23 06:50] ahmetb commented on #742
I believe we only show the star badges for GitHub repositories, so we can add the github.com prefix. ￼￼

[2021-11-29 11:19] shibumi opened #745 "Proposal: Support for signatures via sigstore stack"
## Summary

As of today (2021-11-29), krew does not support signature validation for itself nor for its plugins. Supporting signed release is non-trivial and GPG/OpenPGP is known to be difficult and error-prone. Although, downloads of krew and its plugins are secured by HTTPS on the transport way, this is not enough.

This proposal intends to provide signatures and signature validation via the sig

[2021-12-03 11:24] Allianzcortex commented on #742
@ahmetb @rajatjindal Since this star badge is used for Github only , so I prefer not to change the response of the endpoint, it can be fixed as :

Previously we redirect the badge : `<a href="https://github.com/${repo}`
Now we redirect the badge : `<a href="${repo}`

https://github.com/kubernetes-sigs/krew/blob/6edc70f3fac756ba908e746f007b48cb4b8ba8b8/site/layouts/partials/footer.html#L68

If you'

[2021-12-03 16:17] ahmetb commented on #742
Sounds good. We can test via Netlify preview.

[2021-12-03 16:19] Allianzcortex commented on #742
kk ! /assign @Allianzcortex

[2021-12-03 18:08] #742 closed

[2021-12-06 17:55] ahmetb commented on #745
Thanks for this proposal. I'll list several thoughts:

1. We currently have a post-install warning for all plugins (except for "krew" itself) that prints that _this plugin is untrusted_, as we (the krew maintainers) do not audit the source code of each plugin distributed via the centralized krew-index, and it is up to the user whether to trust what they install.

   Historically, we've done this t

[2021-12-10 06:14] shibumi commented on #745
Hi Ahmet! Let me go through each of your points one by one:

I don't think this is so different to what Linux distributions do.  Linux distributions are packaging foreign software and I honestly doubt that maintainers look into each commit of the packaged software.  I am an Arch Linux maintainer myself, thus relying on the same trust you have to the plugin developers. The only difference between L

[2021-12-15 03:46] dove-young opened #748 "krew install finished but kubectl krew not working on Linux"
I installed krew on Linux according instructions here https://krew.sigs.k8s.io/docs/user-guide/setup/install/
it seems like installation success.
[code]

But I don`t find anything in `/root/.krew/bin` dir.
[code]
And `kubectl krew` does not work.
[code]

I tried to copy the `krew-linux_amd64` into `/root/.krew/bin` and it still not working.

[code]

[2021-12-15 03:48] dove-young commented on #748
I mv krew to kubectl-krew, it works
[code]

[2021-12-15 03:57] dove-young opened #749 "latest krew not working on Linux"
- Install krew on Linux via doc https://krew.sigs.k8s.io/docs/user-guide/setup/install/
- check `kubectl krew`, it works
[code]

- check `kubectl krew list`, it fails
[code]

- check `kubectl-krew version` also fails

[code]

[code]

[2021-12-15 06:34] ahmetb commented on #748
@dove-young you're mostly confusing yourself by trying to understand the script. If that's your intention, I recommend reading it line by line. We use krew to install krew (as a plugin) and that part doesn't show in your output.

If you run the script correctly, add it to your PATH, restart your shell, it will work.

/kind question
/close

[2021-12-15 06:34] #748 closed

[2021-12-15 06:37] ahmetb commented on #749
Based on #748 I'm fairly sure you're doing something unusual. Messing with ~/.krew directory as you did in that issue will cause all sorts of trouble like this one.

To make sure, I just tried it and it works just fine.
![image](https://user-images.githubusercontent.com/159209/146135971-a7f9420d-4143-469d-8680-331fe976a6cb.png)

/close

[2021-12-15 06:37] #749 closed

[2021-12-30 03:01] Junnplus opened #750 "List fails without default index"
[code]

I still have the same problem after update.

list command always check default index, but update command will skip add default when found other index. https://github.com/kubernetes-sigs/krew/blob/master/cmd/krew/cmd/update.go#L139-L142

[2021-12-30 04:38] ahmetb commented on #750
Thanks for the report. Do I understand your use case correctly:

- install krew
- krew index add $other-index
- krew list: fails with the error you mentioned?

[2021-12-30 04:46] Junnplus commented on #750
@ahmetb Yes, I need other index to install plugin.

[2021-12-30 04:47] ahmetb commented on #750
Thanks that must be an oversight. We should allow using krew without the default index.

/kind bug
/area multi-index

[2021-12-30 04:52] Junnplus commented on #750
I agree with you. The default index is not required.
So i make a [PR](https://github.com/kubernetes-sigs/krew/pull/751) to check existing index.

[2022-01-03 20:37] Hector242 opened #752 "Unable to install Krew on Linux"
Hello Team,

I'm trying to install Krew on a Linux server, but I got the following error messages.

[root@vts~]# (

++ mktemp -d
+ cd /tmp/tmp.q0JygZVSfi
++ uname
++ tr '[:upper:]' '[:lower:]'
+ OS=linux
++ uname -m
++ sed -e s/x86_64/amd64/ -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/'
+ ARCH=amd64
+ KREW=krew-linux_amd64
+ curl -fsSLO https://github.com/kubernetes-sigs/krew/releases/late

[2022-01-10 12:46] MurzNN opened #753 "Simplify Krew installing process via publishing installer script on static url"
Now recommended way to install Krew is to run a "scary" bundle of shell commands like this:
[code]
It's okay for advanced users, but still not so quite.

Some projects, eg [SaltStack](https://github.com/saltstack/salt-bootstrap#install-using-curl) with similar bash-way of installing publish the script to some static url and recommend a one-liner like this:
[code]
Maybe it's good idea to implement

[2022-01-10 12:55] MurzNN commented on #753
And we can even add auto-detection of shell type (bash/fish/etc) and package manager (apt/rpm/etc) to give one universal script for any Linux distribution.

[2022-01-10 17:28] ahmetb commented on #753
Kubernetes project and sub-projects generally err towards showing what's being done as opposed to curl|sh which arguably can be more scary for security-aware minds. Some examples (not doing curl|sh intentionally but rather showing how to manually install):

https://minikube.sigs.k8s.io/docs/start/
https://kind.sigs.k8s.io/docs/user/quick-start/
https://helm.sh/docs/intro/install/

We have not hear

[2022-01-14 05:42] #750 closed

[2022-01-15 04:10] Xunzhuo opened #754 "Remove stacktrace info when missing args"
![image](https://user-images.githubusercontent.com/48784001/149608306-4def1a16-0ffd-4d44-ad09-6452ec1730f2.png)

I think missing args should not print these error logs.

[2022-01-15 07:05] ahmetb commented on #754
This is already fixed. It'll be in the next release.
/close

[2022-01-15 07:05] #754 closed

[2022-01-28 19:14] ahmetb commented on #131
@smaftoul Support request for ps1/bat files has not come up at all despite 115 of 181 plugins (63%) distribute on Windows. I'm inclined to think this is not necessary and there's not enough proof that this is required.

Most plugins are implemented in Go and bash, and for Windows support, people already opt in to use Go, and I'm yet to see a plugin developed in PS, so I think this is a wontfix for

[2022-02-15 03:03] ahmetb commented on #737
closing as duplicate. more context on #739.
/close

[2022-02-15 03:03] #737 closed

[2022-02-25 18:57] ahmetb opened #757 "Proposal: relax checking for CPU architecture on Apple M1 silicon (darwin/arm64)"
I just switched to an Apple M1 Mac and a lot of the plugins (72 out of 184, which is 42%) are not installing because they're simply not distributing for darwin/arm64.

However, as a user I can override our OS/ARCH check by overriding it like `KREW_ARCH=amd64 kubectl krew install [...]`. These amd64 binaries execute just fine as Mac has a compatibility layer that works for these Go binaries out of

[2022-02-28 23:07] chipzoller opened #758 "Upgrade from 0.4.1 => -.4.3 on macOS not working"
Running `krew upgrade` does not seem to have any effect on macOS 10.14 with version 0.4.1.

`krew.yaml`
[code]

[code]

[code]

I also see this snippet in more verbose output:

[code]

Slack conversation: https://kubernetes.slack.com/archives/CTJNMDM24/p1645926504899139

cc @chriskim06

[2022-02-28 23:22] ahmetb commented on #758
It seems a little weird that "upgrade" command says

but what prints this message is krew's update checker (compares the version stamped in the binary to the releases on GitHub repo).

The most interesting thing to me is that the installation receipt says `version: v0.4.3` but the binary has `v0.4.1` stamped on it with commit ffa2933f. I personally can't repro this.

@chipzoller is there a chance

[2022-02-28 23:36] chipzoller commented on #758
Honestly, I don't remember how `krew` was installed here.

[code]

[code]

[code]

[code]

[2022-02-28 23:49] chriskim06 commented on #758
[code]
seems to suggest a homebrew install i think. if you do a `realpath /usr/local/bin/kubectl-krew` does it show something like `/usr/local/Cellar/...`?

[2022-02-28 23:54] chipzoller commented on #758
Yep, it does:

[code]

[2022-02-28 23:59] chriskim06 commented on #758
ok this is most likely the issue then. i think if you do a `~/.krew/bin/kubectl-krew version` you'll see `0.4.3`. the first time you ran `kubectl krew upgrade` it most likely properly upgraded the binary there. we don't actively support the homebrew installation method so things like this can happen when its installed that way

[2022-03-01 00:09] ahmetb commented on #758
Yeah just do "brew upgrade". The upgrade notification normally wouldn't appear if it was installed only via brew but in this case it's installed both ways :)

/close

[2022-03-01 00:09] #758 closed

[2022-03-01 20:50] guettli commented on #752
I just had the same issue. I think it is related to some security-feature that you are not allowed to execute files from /tmp.

I copied the file to /var/tmp, and there it was executable.

[2022-03-01 21:33] ahmetb commented on #752
I'd be interested in what that security feature is. If anyone knows, please add a comment. I am able to do `docker run --rm alpine` + `apk add curl git` and install Krew in there just fine. So I assume this is not a standard thing.

[2022-03-10 08:13] #745 closed

[2022-03-13 00:55] willzhang opened #759 "offline install krew"
github is blocked by china ovenment, so anyway offline install krew?

[code]

[code]

download package still have probles
[code]

what i must do , why not put krew.yaml in krew.tar.gz?
[code]

[2022-03-13 01:25] willzhang commented on #759
it's so hard access github
[code]

[2022-03-13 02:39] ahmetb commented on #759
This is not a use case we thought about. How do other projects provide their binaries to CN?

[2022-03-15 18:42] ahmetb commented on #759
Thinking more about this, even if we made it somehow easier to install Krew itself, all the plugin binaries you'd get are still going to be downloaded from GitHub and have the same fate.

[2022-03-17 19:23] #722 closed

[2022-03-25 01:42] TheHunter commented on #631
I have a similar error:

failed to retrieve plugin indexes: failed to list the remote URL for index default: command execution failure, output="": exit status 1

Is there a possibility to fix this bug?

[2022-03-25 21:43] ahmetb commented on #631
@TheHunter the error does not at all look similar, please open a new issue.

[2022-03-28 12:51] yxxhero commented on #759
@willzhang try use http proxy.

[2022-03-28 17:38] jgilfoil commented on #753
Or just add support for homebrew or other package managers for those that want that experience.

[2022-04-04 09:52] MrRedHead opened #761 "Krew version 0.4.3 VirusTotal detect Cynet Malicious (score: 100)"
krew version 0.4.3

Cynet Malicious (score: 100)
https://www.virustotal.com/gui/file/317d64ba05d6cfcd153418c62d9251cc18ca05dcf35ddc5162fb00315e9f456c

[2022-04-04 15:30] #761 closed

[2022-04-06 22:08] timblaktu opened #762 "Add ability to ignore certificate checks or clone via ssh when installing krew"
I get a certificate error cloning `krew-index` when executing the last command in the instructions:

[code]

I'm on Debian 11.3, and using kubectl 1.23.5:

[code]

I get the same error trying to clone `krew-index` separately using https, but using ssh works fine:

[code]

I'm able to somewhat resolve this by using the GIT_SSL_NO_VERIFY [git internal env var](https://git-scm.com/book/en/v2/Git-Inte

[2022-04-06 22:17] chriskim06 commented on #762
does this mean you don't have any root CAs in your trust store?

[2022-04-06 22:30] timblaktu commented on #762
@chriskim06 yes. This is on a fresh Debian install.

[2022-04-06 22:38] chriskim06 commented on #762
im not sure what the security implications would be for allowing krew to not verify tls (also not sure if we want to do that). is it not an option to add github's root ca to your trust store?

[2022-04-07 05:17] timblaktu commented on #762
I was able to install the root and intermediate ca (which was a little confusing in our corporate firewalled environment), and the issue is resolved. Thanks.

[2022-04-07 05:17] #762 closed

[2022-04-07 14:46] timblaktu opened #763 "checksum mismatch when installing oidc-login for linux amd64"
After fresh install of krew on Debian 11.3, I get checksum mismatch when installing oidc-login:

[code]

This is confirmed manually with:

`~/.krew/index/default/plugins/oidc-login.yaml` has:

[code]

but

[code]

[code]

Did I have a download issue, or is the checksum wrong? Whos' in charge of updating the index?

[2022-04-07 14:48] ahmetb commented on #763
Please file a ticket on oidc-login repo. They may have re-tagged a different release.

[2022-04-07 14:48] #763 closed

[2022-04-09 06:06] rthamrin opened #764 "change default name of ingress-nginx plugin"
normal command

```kubectl ingress-nginx backends -n ingress```

error
```no pods for deployment ingress-nginx-controller found in namespace ingress```

my deployment name is ```ingress-controller-nginx-ingress-controller-default-backend```
is it possible to ask the krew ingress-nginx to recognize my deployment name? I am also thinking to change my ingress-Nginx deployment name but doubt if it wil